#a-body{
	// background:url(../img/a_001.jpg);
	*{
		// font-family: "微軟正黑體" !important;
		// outline:1px solid #fa0;
	}
}
@for $i from 1 through 100{
	.a-pLeft-#{$i}{
		padding-left:1px*$i;
	}
}
.a-add-p{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;

}

.a-add-put-p1{
	background: url(../img/a_013.jpg);
	background-size:cover;
	background-position: center center;
	opacity: 0;
}
.a-add-put-p2{
	background: url(../img/a_005.jpg);
	background-size:cover;
	background-position: center center;
	opacity: 0;
}
.a-add-put-p3{
	background: url(../img/a_011.jpg);
	background-size:cover;
	background-position: center center;
	opacity: 0;
}
.a-add-put-p4{
	background: url(../img/a_015.jpg);
	background-size:cover;
	background-position: center center;
	opacity: 0;
}


.a-add-put{
	position: relative;
	width: 100%;
	height: 90%;
	border-radius:20px;
	background-color: rgba(100,100,100,0.5);
	// background:url(../img/a_009.jpg);
	// background-size: cover;
	// background-position:center center;
}
.a-add-container{
	width: 80%;
	height: 90%;
}
.selected{
	position: relative;
}
.calendar-dark{
	// margin: 50px 0px 0px 0px;
}
#a-pReset{
	padding: 0 !important;
}
.a-add-item{
	// width: 100%;
	// position: absolute;
	// width: 300px;
	// height: 600px;
	// left: 0;
	// position: relative;
	// position: absolute;
	left: 0;
	top: 0;
	&:after{
		content:'';
		display:block;
		clear:both;
	}
	textarea{
		background-color: rgba(100,100,100,.5);
		display:block;
		width: 90%;
		height:300px;
	}
	.a-add-drag{
		background-color: rgba(100,100,100,.5);
		width: 100%;
		height: 300px;
	}
}
.cd-horizontal-timeline{
		position: fixed;
		top: 80px;
		left: 0;
		bottom: 0;
		right: 0;
		z-index:10;
		.a-add-svg{
			width: 50px;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			// background-color: rgba(255,255,255,0.2);
		}
		.a-add-img{
			display:block;
			height: 200px;
			width: 200px;
			margin: auto;
			border-radius:50%;
		}
		
}
.a-add-cTitle{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: $fz-h4;
	height: $fz-h4;
	&:after{
		// z-index: 10;
		content:'';
		width: 80%;
		height: 300%;
		border:0.5px solid #fff;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0;
		transition:1s;
	}
	
}
#wrapper{
	position: relative;
}
// .a-add-class:hover .a-add-cTitle:after{
// 	// opacity: 1;
// 	transform:scale(0.8);
// }
.a-add-form{
	margin: 20px 0;
}
.a-add-i1{
	&:before{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		background: url(../img/a_013.jpg);
		background-size: cover;
		background-position: center center;
		transition:0.5s;
		
	}
	
}
.a-add-i2{
	&:before{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		background: url(../img/a_005.jpg);
		background-size: cover;
		background-position: center center;
		transition:0.5s;
		
	}
	
}
.a-add-i3{
	&:before{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		background: url(../img/a_011.jpg);
		background-size: cover;
		background-position: center center;
		transition:0.5s;
		
	}
	
}
.a-add-i4{
	&:before{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		background: url(../img/a_015.jpg);
		background-size: cover;
		background-position: center center;
		transition:0.5s;
		
	}
	
}
.a-add-i1:hover:before{
	transform:scale(1.5);
}
.a-add-cimg{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	// border-radius:50%;
	
	
	&:after{
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left:0;
		border:1px solid #fff;
		transition:1s;
		
	}
}
.a-add-class:hover .a-add-cTitle{

}
.a-add-class:hover .a-add-cimg:before{
	
	transform:scale(1.5);
}
.a-add-class:hover .a-add-cimg:after{
	transform:scale(0.9);		
}
.a-add-class{
	// background-color: #ccc;
	position: relative;
	cursor:pointer;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	height: 200px;
	width: 200px;

	background-position: center center;
	background-size: cover;
	// border-radius:50%;
	transition:2s;
	background-repeat:no-repeat;
	overflow:hidden;
	img{
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition:2s;
	}
	// &:hover img{

	// 		width: 150%;
	// 		height: 150%;
			
	// 	}
	&:hover:before{
		// border-radius:50%;
		transform:scale(1.5);
	}
	&:after{
		content:'';
		width: 100%;
		height: 100%;
		// background-color:rgba(0,0,0,.3);
		position: absolute;
		top: 0;
		left: 0;
		// border-radius:50%;
		
	}
	// &:before{
	// 	content:'';
	// 	width: 100%;
	// 	height: 100%;
	// 	border-radius:50%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	background:url(../img/a_007.jpg);
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	transition:2s;
	// }
	
}
// @keyframes a_bigger{
// 	100%{
// 		background-size: 200%;
// 	}
// }
.a-add-google{
	.googleMap{
		height: 100%;
	}
}

.a-add-title{
	// padding-bottom: 10px;
	font-size: $fz-h2;
	position: absolute;
	top: -70px;
	left: 0;
	color:#DCAA29;
	text-shadow:1px 1px 2px #D4B279;
	
}

.a-add-map{
	
	margin-top: 10px;
	text-align: center;
	// margin: auto;
	// padding: 20px 0;
	.calendar-dark{
		width: 320px;
	}
	#pac-input{
		margin: 0;
	}
	i{
		top: 5px;
	}
}
.a-add-mapControl{
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:10;
	background-color:rgba(69,93,109,0.5);
}
.events-content{
	ol{
		height: 100%;
		li{
			height: 100%;
			.a-add-item{
				position: relative;
				top: 5%;
				height: 90%;
				.row{
					height: 100%;
					.col-md-12{
						height: 100%;
					}
				}
			}
		}
	}
}
.a-add-date{
	width: 50%;
	height: 50%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.a-text{
		font-size: $fz-h1;
		margin-bottom: 50px;
	}
	.a-add-content{

		line-height: 2;
		font-size: $fz-h4;
	}
}
