*{
	padding:0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
#gap{
	width: 100%;
	height: 70px;
}
nav{
	text-align: right;
	position: fixed;
	right:0;
	left: 0;
	top:0;
	margin:auto;
	background-color: $grey;
	height: 70px;
	box-shadow: 0px 2px 5px 2px #222;
	z-index: 100;
	ul{
		display:inline-block;
	}
}

.menu{
	font-size: $fz-nav;
		.mainMenu{
			display: inline-block;
				a:hover{
					border-bottom: 3px solid $blue;
				}
				a{
					display:block;
					padding:35px 14px 15px;
					color:#fff;		
					letter-spacing: 1px;
				}	
	 }
}

#signUp{
	display:inline-block;
	a{
		color:#fff;
		font-size:$fz-nav - 2px ;
		padding: 0 10px;
		// padding:35px 14px 15px;
		:hover{
			color:#ccc;
		}
		i{
			padding:35px 5px 15px;
		}
	}
}

#signIn{
	display:inline-block;
	width: 50px;
	height: 50px;
	vertical-align: top;
	a{
		display:block;
	}
	img{
		width: 100%;
		height: 100%;
		margin-top:15px;
	}
	a:hover img{
	border: 2px solid $blue;
	border-radius: 50%;	
	}	
}

//for mobile
#navButtonHidden{
	position:absolute;
	right:-1000px;
}
#navButton{
	position:absolute;
	top:18px;
	left:15px;
	width:40px;
	height:40px;
	background: #45484d;
    color:#f2f2f2;
 	border-radius: 50%;
 	display:none;
}
	#navButton:before,
	#navButton:after{
		content:'';
		display:block;
		position: absolute;
		width: 16px;
		height: 2px;
		background-color:#fff;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		transition: .8s;
	}
	#navButton:before{
		box-shadow: 0 -6px 0px #fff;
	}
	#navButton:after{
		box-shadow: 0 6px 0px #fff;
	}
	#navButtonHidden:checked ~ #navButton:before{
		transform: rotate(45deg);
		box-shadow: none;
	}
	#navButtonHidden:checked ~ #navButton:after{
		transform: rotate(-45deg);
		box-shadow: none;
	}
	#navButtonHidden:checked ~ .menu{
		display:block;
		animation:mobileNav 1s both cubic-bezier(.13,.27,.06,.82);
	}
@keyframes mobileNav{
	0%{opacity:0;}
	100%{opacity:1;}
}
// @keyframes bb{
// 	0%{right:0px;top:0px;opacity:0}
// 	100%{right:40px;top:-40px;opacity:1}
// }
// @keyframes cc{
// 	0%{right:0px;top:0px;opacity:0}
// 	100%{right:70px;top:-10px;opacity:1}
// }
// @keyframes dd{
// 	0%{right:0px;top:0px;opacity:0}
// 	100%{right:100px;top:20px;opacity:1}
// }
footer{
	width: 100%;
	height: 50px;
	background-color: $grey;
	color:#fff;
	text-align: right;
	padding-right:40px;
	line-height: 50px;
	font-size: 14px;
}
@include respones(xs) {
	.menu{
		position:absolute;
		left:0;top: 75px;right:0;
		margin:auto;
		text-align:center;
		background-color: rgba(0,0,0,0.9);
		width: 100%;
		height: 300px;
		display:none;
		:first-child{
			padding-top:45px;
		}
		:after{
			content:'';
			width: 280px;
			height: 280px;
			background-color:  rgba(0,0,0,0.9);
			position:absolute;
			top:0;bottom: 0;
			left: 0;right: 0;
			border-radius:50%;
			margin: auto;
			box-shadow:0px 0px 2px 2px #fff;
			z-index:-1;
		}
		.mainMenu{
				display:block;
				a{
					color:$white;
					font-size: 16px;
					padding: 20px;
				}
				a:hover{
					border-bottom: none;
				}
		}
	}
	#navButton{
		display:block;
	}
}
@include respones(sm) {
	.menu{
		.mainMenu a{
			font-size: 18px;
			padding:35px 10px 15px;
		}
	}
}