


@keyframes aa{
    0%{
        transform:translateZ(-1200px);
    }
    100%{
        transform:translateZ(0px);
    }
}

@keyframes boxRotate {
    0% {
        transform:translateZ(-1200px) rotateX(0deg);
    }
    100% {
        transform:translateZ(0px) rotateX(360deg);
    }
}

@keyframes animBtn {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-400px);
    }
}
@keyframes animPageDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(100vh);
    }
}
@keyframes animForumPop1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}
@keyframes animForumPop2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}
@keyframes animForumPop3 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes animForumPop4 {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}
@keyframes animRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(60deg);
    }
}
@keyframes animGravity {
    0% {
        transform: translateY(-26px);
        opacity: 0;
    }

    80% {
        letter-spacing: 10px;
        padding-left: 40px;
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        letter-spacing: 10px;
        padding-left: 35px;
        transform: translateY(-4px);
        opacity: 0;
    }
}
@keyframes animJoin {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
// @keyframes animUptoDwon {
//     0% {
//         transform: translateY(-450px) rotateY(0deg);
//     }

//     100% {
//         transform: translateY(0) rotateY(270deg);
//     }
// }
@keyframes animUptoDwon {
    0% {
        transform: translateZ(-850px) rotateY(0deg);
    }

    100% {
        transform: translateY(0) rotateY(270deg);
    }
}
@keyframes animScrollSign {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(6px);
    }
}
@keyframes fall {
    100%{margin-top:900px;opacity:0}
}