@include respones(lg) {

	#icanvas{
		position: fixed;
		top: 40%;
		right:0px;
		z-index: 1000;
	}
	.sideBarGroup{
		position: fixed;
		display: block;
		width: 100px;
		height: 250px;
		top:40%;
		right: 20px;
		z-index: 1000;
		.sideBar{
			position: absolute;
			width: 120px;
			height: 22px;
			line-height: 22px;
			letter-spacing: 1px;
			font-size: $fz-p;
			left:0;
			text-align: center;
			color:$light-grey;
			cursor: pointer;
			span{
				padding-right:35px;
				display: none;
				a{
					color:$white;
				}
				&.show{
					display: block;
				}
			}
			&.sideBar5{
				top:-5px;
			}
			&.sideBar4{
				top:50px;
			}
			&.sideBar3{
				top:110px;
			}
			&.sideBar2{
				top:170px;
			}
			&.sideBar1{
				top:230px;
			}
		}
	}
	#i-wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// transition: 1s;
		// transform: translate(0%,-5067px) scale(0.1);
		// overflow: hidden;
		#i-bgc {
			position: absolute;
			background-image: url('../img/i-bgc2.png');
			// background-repeat: no-repeat;
			// background-size: cover;
			margin: auto;
			height: 5991px;
			width: 100%;
			left: 0;
			right: 0;
		}
		.section {
			position: absolute;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			outline: red solid 1px;
		}
		.sectionTitle{
			position: absolute;
			top:30px;
			left:100px;
			h1{
				color:$white;
				font-size: $fz-h1;
				padding: 10px 20px;
				text-shadow: 1px 10px 10px $black;
			}
			h4{
				color:$light-grey;
				font-size: $fz-h4;
				padding: 10px 20px;
			}
		}
		.section-btn{
			display: inline-block;
			@include btn(130px,40px,5px,18px);
			background-color: $blue;
			box-shadow: 1px 2px 5px #111;
			transition: box-shadow 0.1s, top 0.1s;
			position: absolute;
			bottom:45px;
			left: 0;right: 0;
			margin: auto;
			a{
				color:$white;
				text-shadow: 1px 1px 3px $grey;
				font-size: $fz-p +2px;
			}
			&:hover,&:active{
				bottom: 43px;
				box-shadow: 0 1px 0 #999;
			}
		}
		.section01 {
			bottom: -5041px;
			overflow: hidden;
			.btn-search{
				display: inline-block;
				@include btn(100px,32px,5px,14px);
				background-color: $blue;
				box-shadow: 0 2px 0 $grey;
				transition: box-shadow 0.1s, top 0.1s;
				position: relative;
				a{
					color:$white;
					text-shadow: 1px 1px 3px $grey;
				}
				&:hover,&:active{
					top: 2px;
					box-shadow: 0 0px 0 #999;
				}
			}
			.i-searchBar{
				display: block;
				width: 895px;
				margin:140px auto;
				text-align: center;
				background-color: $o-black;
				color:$white;
				padding: 10px;
				font-size: $fz-p;
				letter-spacing: 2px;
				border-radius: 5px;
				box-shadow: 1px 1px 15px 1px $black;
				span{
					padding: 0 4px 0 18px;
				}
				.searchBar{
					display: none;
				}
				.searchDetail{
					i{
						display: none;
					}
				}
				.date,.loc{
					display: inline-block;
				}
				input{
					border-radius: 5px;
					padding: 3px;
					background-color: $white;
					&:focus{
						outline:none;
						border-bottom: 3px solid $blue;
					}
				}
				.type{
					display: inline-block;
					position: relative;
					input:hover ~ ul,
					input:focus ~ ul{
						display: block;
					}
					ul{
						&:hover{
							display: block;;
						}
						position: absolute;
						bottom:-150px;
						left: 70px;right: 0;
						display: none;
						li{
							&:first-child{
								border-radius: 5px 5px 0px 0px;
							}
							&:last-child{
								border-radius: 0px 0px 5px 5px;
							}
							&:hover{
								background-color: $blue;
								color:$white;
							}
							width: 100%;
							background-color: $white;
							color:$black;
							padding:10px 5px;
							cursor: pointer;
						}
					}
				}
			}
			#i-ground {
				position: absolute;
				bottom: 0;
			}

			#i-people {
				position: absolute;
				left: 450px;
				bottom: 45px;
			}

			#i-telescop {
				position: absolute;
				left: 480px;
				bottom: 25px;
			}

			h1 {
				color: $white;
				font-size: $fz-h1;
				text-align: center;
				margin-top: 220px;
				text-shadow: 1px 10px 10px $black;
			}

			.scroller {
				width: 45px;
				height: 45px;
				border: 1px solid $green-blue;
				border-radius: 50%;
				text-align: center;
				margin: auto;
				position: relative;
				top: 60px;
				color:$green-blue;
				font-size: 46px;
				line-height: 45px;
				text-align: center;
			}

			p {
				color: $green-blue;
				font-size: $fz-p;
				font-weight: 300;
				letter-spacing: 1px;
				text-align: center;
				position: relative;
				top: 75px;
			}
			.star{
				position: absolute;
				left: 0;right: 0;
				top: 0;bottom: 0;
				margin: auto;
				background: transparent;
				&:after,
				&:before{
					content: "";
					position: absolute;
					margin: auto;
					top: 0;
					bottom: 0;
					right:0;
					left: 0;
					background: transparent;
				}
				&.stars0 {
					right:10px;
					width: 2px;
					height: 2px;
					transform: rotate(0deg);
					// animation: animRotate 70s linear infinite;
					box-shadow: $shadows-small;
					&:after{
						width: 2px;
						height: 2px;
						transform: rotate(150deg);
						box-shadow: $shadows-small;
					}
				}

				&.stars1 {
					width: 2px;
					height: 2px;
					transform: rotate(60deg);
					// animation: animRotate 70s linear infinite;
					box-shadow: $shadows-small;
					&:after{
						width: 2px;
						height: 2px;
						transform: rotate(210deg);
						box-shadow: $shadows-small;
					}
				}
			}


				.stars2 {
					width: 2px;
					height: 2px;
					transform: rotate(0deg);
					animation: animRotate 70s linear infinite;
					box-shadow: $shadows-medium;
				}
				.stars2:after {
					top:30px;
					left:30px;
					width: 2px;
					height: 2px;
					transform: rotate(150deg);
					background: transparent;
					box-shadow: $shadows-medium;
				}

				.stars3 {
					width: 3px;
					height: 3px;
					background: transparent;
					transform: rotate(30deg);
					animation: animRotate 90s linear infinite;
					box-shadow: $shadows-big;
				}
				.stars3:after {
					top:20px;
					left:-10px;
					width: 2px;
					height: 2px;
					transform: rotate(240deg);
					background: transparent;
					box-shadow: $shadows-small;
				}
		}
		// section01
		.section02 {
			height: 1100px;
			bottom: -3861px;
			#cloud1 {
				position: absolute;
				bottom: -780px;
				right: -300px;
				transform: scale(0.9);
			}

			#cloud2 {
				position: absolute;
				bottom: -750px;
				left: -900px;
				transform: scale(0.8);
			}
			.activity {
				position: relative;

				#layer01 {
					position: absolute;
					top: -1000px;
					left: 0;
					right: 0;
					margin: auto;
					width: 700px;
					height: 1700px;
					// border:1px #fff solid;
				}

				.act {
					position: absolute;
					// outline: red solid 1px;
					width: 840px;
					top: 100px;
					left: 0;
					right: 0;
					perspective: 800px;
					margin: auto;
					transition: 1s;

					h3 {
						font-size: $fz-h3;
						color: $black;
						padding: 10px 0;
					}

					p {
						font-size: $fz-p;
						color: $black;
					}

					img {
						width: 100%;
					}

					.pic {
						position: relative;
						width: 740px;
						height: 415px;
						overflow: hidden;
						// outline:red solid 1px;
						img {
							width: 100%;
							height: 100%;
						}
					}

					.content {
						position: absolute;
						right: 30px;
						bottom: -80px;
						z-index: 3;
						cursor: pointer;
					}

					.img-collection {
						position: absolute;
						display: block;
						width: 896px;
						height: 650px;
						margin: auto;
						z-index: 2;

						&.img-collection1 {
							transform: scale(1.4);
							top: 20px;
							left: 0;
						}

						&.img-collection2 {
							transform: scale(1.3);
							top: -48px;
							left: -28px;
						}
					}
				}
			}
		}
		//scetion02
		.section03 {
			bottom: -2760px;
			// border: 1px red solid;
			.forum:hover {
				background-color: $green-blue;
				cursor: pointer;
			}

			.forum {
				position: absolute;
				color: $white;
				width: 320px;
				height: 65px;
				letter-spacing: 1px;
				margin: auto;
				background-color: $o-black;
				// display: none;
				opacity: 0;
				// animation: float1 5s .5s both;
				.content {
					padding: 10px 5px 5px 35px;
					h4 {
						font-size: $fz-h4;
						padding-bottom: 3px;
					}
				}

				.pic {
					position: absolute;
					left: -20px;
					top: 0;
					bottom: 0;
					margin: auto;
					width: 40px;
					height: 40px;
					background-color: transparent;
					img {
						width: 100%;
					}
				}

				.memberId {
					float: left;
					padding: 5px;
					text-align: left;
				}

				.count {
					float: right;
					padding: 5px;
					text-align: right;
					font-size: 12px;

					span {
						padding-right: 15px;
					}
				}&.forum1 {
					transform: translate(0) scale(0.8);
				}

				&.forum2 {
					transform: scale(1.3);
				}

				&.forum3 {
					transform: scale(0.9);
				}

				&.forum4 {
					transform: scale(1.2);
				}

				&.forum5 {
					transform: scale(1.4);
				}

				&.forum6 {
					transform: scale(0.8);
					// display: none;
				}

				&.forum7 {
					transform: scale(0.9);
				}

				&.forum8 {
					transform: scale(1);
				}

				&.forum9 {
					transform: scale(1.3);
				}

				&.forum10 {
					transform: scale(0.7);
					display: none;
				}

				&.forum11 {
					transform: scale(1);
				}

				&.forum12 {
					transform: scale(1.4);
				}

				&.forum13 {
					transform: scale(0.9);
				}

				&.forum14 {
					transform: scale(0.6);
					// display: none;
				}
			}
		}
		.section04 {
			bottom: -1850px;
			// background-image: url('../img/i-bg.jpg');
			// background-size: cover;
			transition: .5s;
			perspective: 800px;
			perspective-origin: center top;
			.section-btn{
				@include btn(140px,40px,5px,18px);
			}
			.gallery  {
				margin:auto;
			  height: 800px;
			  width:800px;
			  position: absolute;
				top:135px;
				left: 0;right: 0;
			  transform-style: preserve-3d;
			  transition:1s;
			}

			.pic {
			  display: block;
			  position: absolute;
				left: 0;right: 0;margin: auto;
			  width: 250px;
			  opacity: 0.95;
				cursor: pointer;
				img{
					width: 100%;
				}
				.detail{
					position:absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 30px;
					line-height: 30px;
					background-color: $o-black;
					font-size: $fz-p -2px;
					text-align: center;
					color:$white;
					display: none;
				}
			}

			.pic1 {
			  transform: rotateY(0deg) translateZ(400px);
			}
			.pic2{
			  transform: rotateY(45deg) translateZ(400px);
			}
			.pic3{
			  transform: rotateY(90deg) translateZ(400px);
			}
			.pic4{
			  transform: rotateY(135deg) translateZ(400px);
			}
			.pic5{
			  transform: rotateY(180deg) translateZ(400px);
			}
			.pic6 {
			  transform: rotateY(225deg) translateZ(400px);
			}
			.pic7 {
				transform: rotateY(270deg) translateZ(400px);
			}
			.pic8 {
				transform: rotateY(315deg) translateZ(400px);
			}
			// .gallery {
			//   position:relative;
			//   perspective:2000px;
			//   perspective-origin: 0px 0px;
			//   width: 100%;
			//   height: 100%;
			//   overflow:hidden;
			//   transform-style: preserve-3d;
			// }
			// .gallery img{
			//   position:absolute;
			//   transform-style: preserve-3d;
			//   transform-origin: 50% 50%;
			//   top:50%;
			//   left:40%;
			//   max-width: 200px;
			//   max-height:200px;
			//   cursor:pointer;
			// }

		}
		.section05 {
			bottom:-1000px;
			// background-image: url('../img/i-bg.jpg');
			.section-btn{
				@include btn(140px,40px,5px,18px);
			}
			.accordion {
				position: absolute;
				left: 120px;
				right: 0;
				top: 160px;
			}
			.accordion .fakeCover:before{
				content: '';
				background-color: $o-black;
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 0;
				z-index: 2;
				display: block;
			}
			.accordion li {
				float: left;
				width: 220px;
				height: 480px;
				display: block;
				background-repeat: no-repeat;
				background-position: center center;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				box-shadow: 2px 3px 3px 1px $o-black;
				transition: 0.8s;
				z-index: 0;
				&.know1 {
					background-image: url("../img/i-know01.png");
				}

				&.know2 {
					background-image: url("../img/i-know02.png");
				}

				&.know3 {
					background-image: url("../img/i-know03.png");
				}

				&.know4 {
					background-image: url("../img/i-know04.png");
				}
				&.know5 {
					background-image: url("../img/i-know04.png");
				}
				.memberId{
					position: absolute;
					top: 25px;
					left:70px;
					color:$white;
					display: none;
				}
				.pic{
						position: absolute;
						width: 40px;
						height: 40px;
						top:10px;
						left:20px;
						border-radius: 50%;
						box-shadow: 0px 0px 10px 1px $white;
						display: none;
						img{
							width: 100%;
							height: 100%;
						}
				}
				.heading {
					background-color: #fff;
					padding: 10px;
					margin-top: 60px;
					opacity: 0.9;
					font-weight: bold;
					letter-spacing: 1px;
					font-size:$fz-p ;
					color: $black;
					text-align: center;
					box-shadow: 3px 1px 1px  #888;
					position: relative;
					z-index: 3;
				}
				.description {
					position: absolute;
					width: 100%;
					height: 175px;
					bottom: 0px;
					left: 0;
					display: none;
					h2 {
						font-size: $fz-h2;
						color: $black;
						text-align: left;
						// padding: 0px 15px 0px 5px;
						text-shadow: -1px -1px 1px $white;
						width: 460px;
					}
					p {
						// margin: 5px 20px;
						font-size: $fz-p;
						color:$black;
						width: 460px;
						padding: 0px 15px 0px 5px;
						letter-spacing: 1px;
						line-height: 1.5em;
						text-align: justify;
					}
				}

				.knowDescription {
					background: linear-gradient(to bottom, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
					height: 400px;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					display: none;
				}
			}
			// .knowledge{
			// 	width: 410px;
			// 	height: 530px;
			// 	position: absolute;
			// 	background-color: $white;
			// 	top:300px;
			// 	margin: auto;
			// 	box-shadow: 2px 2px 2px $grey;
			// 	&.knowledge01{
			// 		left:150px;
			// 		transform: scale(0.9);
			// 		z-index: 9;
			// 		opacity: 0.8;
			// 	}
			// 	&.knowledge02{
			// 		left:350px;
			// 		z-index: 10;
			// 	}
			// 	&.knowledge03{
			// 		left:550px;
			// 		transform: scale(0.9);
			// 		z-index: 9;
			// 		opacity: 0.8;
			// 	}
			// 	&.knowledge04{
			// 		left:700px;
			// 		transform: scale(0.8);
			// 		z-index: 8;
			// 		opacity: 0.8;
			// 	}
			// 	&.knowledge05{
			// 		left:800px;
			// 		transform: scale(0.7);
			// 		z-index: 7;
			// 		opacity: 0.8;
			// 	}
			// 	&.knowledge06{
			// 		left:900px;
			// 		transform: scale(0.6);
			// 		z-index: 6;
			// 		opacity: 0.8;
			// 	}
			// 	&.knowledge07{
			// 		left:980px;
			// 		transform: scale(0.5);
			// 		z-index: 5;
			// 		opacity: 0.8;
			// 	}
			// 	h3{
			// 		font-size: $fz-h3;
			// 		color:$black;
			// 		padding: 15px;
			// 		border-bottom: 1px $light-grey solid;
			// 	}
			// 	h4{
			// 		font-size: $fz-h4;
			// 		color:$black;
			// 	}
			// 	.content{
			// 		color:$black;
			// 		font-size: $fz-p;
			// 		line-height: 1.5em;
			// 		text-align: justify;
			// 		letter-spacing: 1px;
			// 		padding: 20px;
			// 	}
			// 	.pic{
			// 		display: inline-block;
			// 		width: 55px;
			// 		height: 55px;
			// 		margin: 10px;
			// 		text-align: center;
			// 		img{
			// 			width: 100%;
			// 		}
			// 	}
			// 	.detail{
			// 		padding: 10px;
			// 	}
			// 	.info{
			// 		display: inline-block;
			// 		width: 280px;
			// 	}
			// }
		}
		.section06 {
			background: linear-gradient(to bottom, #020308 0%, #05172b 51%, #011428 84%, #012438 100%);
			perspective: 1000;
			overflow: hidden;
				.stars1 {
					  width: 1px;
					  height: 1px;
					  background: transparent;
					  animation: animStar 50s linear infinite;
						box-shadow:$shadows-small;
					}
					.stars1:after {
					  content: " ";
					  position: absolute;
					  top: 2000px;
					  width: 1px;
					  height: 1px;
						box-shadow:$shadows-small;
					  background: transparent;
					}

					.stars2 {
					  width: 2px;
					  height: 2px;
					  background: transparent;
					  animation: animStar 100s linear infinite;
						box-shadow: $shadows-medium;
					}
					.stars2:after {
					  content: " ";
					  position: absolute;
					  top: 2000px;
					  width: 2px;
					  height: 2px;
					  background: transparent;
						box-shadow: $shadows-medium;
					}

					.stars3 {
					  width: 3px;
					  height: 3px;
					  background: transparent;
					  animation: animStar 150s linear infinite;
						box-shadow: $shadows-big;
					}
					.stars3:after {
					  content: " ";
					  position: absolute;
					  top: 2000px;
					  width: 3px;
					  height: 3px;
					  background: transparent;
						box-shadow: $shadows-big;
					}
					.horizon {
					  position: absolute;
					  width: 160%;
					  height: 70%;
					  border-radius: 100%/100%;
					  background: #038bff;
					  -webkit-filter: blur(30px);
					  left: 50%;
					  bottom: -36%;
					  margin-left: -80%;
					}
					.horizon:before {
					  content: " ";
					  position: absolute;
					  width: 81.25%;
					  height: 70%;
					  border-radius: 100%/100%;
					  background: #51AFFF;
					  -webkit-filter: blur(30px);
					  opacity: 0.6;
					  margin-left: 9.375%;
					}
					.horizon:after {
					  content: " ";
					  position: absolute;
					  width: 32%;
					  height: 20%;
					  border-radius: 650px/350px;
					  background: #B0DAFF;
					  -webkit-filter: blur(30px);
					  opacity: 0.5;
					  margin-left: 34%;
					}
					.horizon .glow {
					  position: absolute;
					  width: 100%;
					  height: 100%;
					  border-radius: 100%/100%;
					  background: #215496;
					  -webkit-filter: blur(200px);
					  opacity: 0.7;
					  top: -10%;
					}

					.earth {
					  position: absolute;
					  width: 200%;
					  height: 100%;
					  background: black;
					  border-radius: 100%/100%;
					  left: 50%;
					  bottom: -70%;
					  margin-left: -100%;
					}
					.earth:before {
					  content: " ";
					  position: absolute;
					  width: 100%;
					  height: 100%;
					  border-radius: 100%/100%;
					  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
					}
					.earth:after {
					  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
					  background-size: 100%;
					  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
					  content: " ";
					  position: absolute;
					  width: 100%;
					  height: 100%;
					  border-radius: 100%/100%;
					}

					.title {
					  position: absolute;
					  font-weight: 300;
					  top: 36%;
					  left: 0;
					  right: 0;
					  margin-top: -80px;
					  font-size: 130px;
					  text-align: center;
					  letter-spacing: 2px;
					  padding-left: 20px;
					  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
					  -webkit-background-clip: text;
					  -webkit-text-fill-color: transparent;
						animation:animGravity 2s both;
					}
				.expMem{
					position:absolute;
					left: 0;right: 0;
					top:200px;
					margin: auto;
					text-align: center;
					h1{
						font-size: $fz-h1;
						color:$white;
						padding: 20px;
						text-shadow: 1px 10px 10px $black;
					}
					h4{
						font-size: $fz-h4;
						color:$light-grey;
						font-weight: 100;
						padding: 20px;
					}
				}
				.section-btn{
					@include btn(190px,40px,5px,18px);
					bottom:-70px;
					&:hover,&:active{
						bottom: -72px;
					}
				}
				.join{
					animation: animJoin 1s 2s both;
				}
			}//scetion6
		#nav{
			position: relative;
		}
	}//wrapper
}
//media
@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
@keyframes animRotate {
	0%{transform: rotate(0deg);}
	100%{transform: rotate(60deg);}
}
@keyframes animGravity {
	0% {
		transform: translateY(-26px);
		opacity: 0;
	}
	80% {
		letter-spacing: 10px;
		padding-left: 40px;
		transform: translateY(0px);
		opacity: 1;
	}
100% {
		letter-spacing: 10px;
		padding-left: 35px;
		transform: translateY(-4px);
		opacity: 0;
	}
}
@keyframes animJoin{
	0%{transform: scale(0);}
	100%{transform: scale(1);}
}
@keyframes float1 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1.1);
		opacity: 1;
	}
}
@keyframes float2 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(0.8);
		opacity: 1;
	}
}
@keyframes float3 {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes float4 {
	0% {
		transform: scale(0.7);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
//測試用

#info {
	background-color: $o-white;
	color: $black;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 999;
	padding: 20px;
}

#feeback {
	position: absolute;
	z-index: 300;
}
