@include respones(sm) {
  #i-body{
    // overflow: hidden;
  }
  #icanvas{
    position: fixed;
    top: 25%;
    right:-20px;
    z-index: 1;
  }
  .sideBarGroup{
    position: fixed;
    display: block;
    width: 100px;
    height: 400px;
    top:25%;
    right: 40px;
    z-index: 1000;
    .sideBar{
      position: absolute;
      width: 120px;
      height: 22px;
      line-height: 22px;
      letter-spacing: 1px;
      font-size: $fz-p;
      left:0;
      text-align: center;
      color:$light-grey;
      cursor: pointer;
      span{
        padding-right:35px;
        display: none;
        a{
          color:$white;
        }
        &.show{
          color:$white;
          display: block;
        }
      }
      &.sideBar5{
        top:135px;
      }
      &.sideBar4{
        top:189px;
      }
      &.sideBar3{
        top:249px;
      }
      &.sideBar2{
        top:309px;
      }
      &.sideBar1{
        top:369px;
        transform: translateX(-40px);
      }
    }
  }
	#i-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    #nav{
      position:fixed;
    }
		section{
			position: absolute;
			width: 100vw;
			height: 100vh;
      // border:red solid 1px;
      // overflow: hidden;
      .sectionTitle{
        margin:auto;
        padding-top: 100px;
  			h1{
  				color:$white;
  				font-size: $fz-h3;
          text-align: center;
  				// padding: 10px 20px;
  				text-shadow: 1px 10px 10px $black;
  			}
  			h4{
  				color:$light-grey;
  				font-size: $fz-p;
  				padding: 10px 20px;
          display: none;
  			}
  		}
		}
		.section01{
      perspective: 800;
      top:200vh;
      z-index: 1;
      // animation:animPageDown 5s both;
			background:url('../img/index/bg-sky.jpg')
      50% 100% no-repeat;
      background-size: cover;
      .ground{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        img{
          width: 100%;
        }
      }
      .title{
        width: 75%;z-index: 10;
        height: 50%;
        position: absolute;
        left: 0;top: 0;bottom: 0;right: 0;
        margin: auto;
        h1{
          color:$white;
          font-size: $fz-h1;
          padding: 20px 20px;
          text-shadow: 1px 10px 10px $black;
          text-align: center;
          z-index: 200;
          &:after{
            content:'';
            display: block;
            z-index: -2;
            position: absolute;
            top: 40px;left: 0;right: 0;
            margin: auto;
            width: 470px;
            height: 50px;
            background-image:url('../img/index/title-bg.png');
            background-position:10%;
            background-repeat: repeat-x;
            background-size: cover;
          }
        }

        .i-searchBar{
          position: relative;
          text-align: center;
          margin: 50px auto;
          width: 93%;
          height: 70px;
          line-height:70px;
          background-color: $o-black;
  				color:$white;
  				font-size: $fz-p;
  				letter-spacing: 2px;
  				border-radius: 5px;
  				box-shadow: 1px 1px 15px 1px $black;
          .searchDetail , .date , .loc ,.type{
            display: inline-block;
            span{
              font-size: 18px;
              padding: 5px 0px 0px 15px;
            }
            input{
              height: 30px;
    					border-radius: 5px;
    					padding: 3px;
    					background-color: $white;
    					&:focus{
    						outline:none;
    					}
    				}
          }
          .type{
    					position: relative;
    					input:hover ~ ul,
    					input:focus ~ ul{
    						display: block;
    					}
    					ul{
    						position: absolute;
    						bottom:-150px;
    						left: 60px;right: 0;
    						display: none;
                width: 74%;
                text-align: center;
                &:hover{
                  display: block;;
                }
    						li{
    							&:first-child{
    								border-radius: 5px 5px 0px 0px;
    							}
    							&:last-child{
    								border-radius: 0px 0px 5px 5px;
    							}
    							&:hover{
    								background-color: $blue;
    								color:$white;
    							}
    							width: 98%;
                  line-height: normal;
    							background-color: $white;
    							color:$black;
    							padding:10px 5px;
    							cursor: pointer;
    						}
    					}
    				}
            .button-square{
              position: relative;
              display: inline-block;
              vertical-align: middle;

              margin-left: 20px;
              right:8px;
              border-radius: 6px;
              width: 100px;
              .button{
                width: 92px;
                font-size: 1em;
              }
            }
          }
          .searchBar,.searchDetail i{
            display: none;
          }
      }
      .scroll{
        position: absolute;
        top: 66%;
        left: 0;right: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        i{
          color:$light-blue;
          font-size: 40px;
        }
        img{
          position: absolute;
          top: 0;left: 0;
          width: 100%;
        }
      }
      #cloud1 {
        position: absolute;
        top: -720px;
        right: -200px;
        transform: scale(0.8);
      }
      #cloud2 {
        position: absolute;
        top: -850px;
        left: -900px;
        transform: scale(0.8);
      }
		}//section01
    .section02{
      background:url('../img/index/bg-sky.jpg')
      50% 0% repeat;
      background-size: cover;
      outline: 5px solid #111;
      top:100vh;
			#part01{
        position: relative;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        left: 0;right: 0;margin: auto;
  			.activity {
  				position: relative;

  				.act {
  					position: absolute;
  					width: 840px;
  					top: 100px;
  					left: 0;
  					right: 0;
  					perspective: 800px;
  					margin: auto;
  					transition: 1s;
            cursor: pointer;
            &:hover h3,&:hover p{
              color:$green-blue;
            }
  					h3 {
  						font-size: $fz-h3;
  						color: $black;
  						padding: 10px 0;
  					}

  					p {
  						font-size: $fz-p;
  						color: $black;
  					}

  					img {
  						width: 100%;
  					}

  					.pic {
  						position: relative;
  						width: 740px;
  						height: 415px;
  						overflow: hidden;
  						// outline:red solid 1px;
  						img {
  							width: 100%;
  							height: 100%;
  						}
  					}

  					.content {
  						position: absolute;
  						right: 30px;
  						bottom: -80px;
  						z-index: 3;
  						cursor: pointer;
  					}
            .content2{
              right: 120px;
            }
  					.img-collection {
  						position: absolute;
  						display: block;
  						width: 896px;
  						height: 650px;
  						margin: auto;
  						z-index: 2;

  						&.img-collection1 {
  							transform: scale(1.4);
  							top: 20px;
  							left: 0;
  						}

  						&.img-collection2 {
  							transform: scale(1.3);
  							top: -48px;
  							left: -28px;
  						}
  					}
  				}
  			}
      }
			#part02{
        width: 100vw;
        height: 100vh;
        .forumGroup{
          padding-top: 20px;
          .button-square{
            position: absolute;
            margin: auto;
            left: 0;right: 0;
            bottom: 30px;
          }
        }
        .forum:hover {
  				background-color: $green-blue;
  				cursor: pointer;
  			}

  			.forum {
  				position: relative;
          left: 0;right: 0;
  				color: $white;
  				width: 320px;
  				height: 65px;
  				letter-spacing: 1px;
  				margin:1px auto;
  				background-color: $o-black;
  				.content {
  					padding: 10px 5px 5px 35px;
  					h4 {
  						font-size: $fz-p;
  						padding-bottom: 3px;
  					}
  				}

  				.pic {
  					position: absolute;
  					left: -20px;
  					top: 0;
  					bottom: 0;
  					margin: auto;
  					width: 40px;
  					height: 40px;
  					background-color: transparent;
  					img {
  						width: 100%;
  					}
  				}

  				.memberId {
  					float: left;
  					padding: 5px;
  					text-align: left;
  				}

  				.count {
  					float: right;
  					padding: 5px;
  					text-align: right;
  					font-size: 14px;
            i{
              padding-right: 4px;
            }
  					span {
  						padding-right: 15px;
  					}
  				}
          &.forum7,&.forum8,&.forum9,&.forum10,&.forum11,&.forum12,&.forum13,&.forum14{
            display: none;
          }
  			}
      }
      #part03{
        width: 100vw;
        height: 100vh;
        position: relative;
        perspective: 1000px;
  			perspective-origin: center center;
        .gallery  {
  			  height:120px;
  			  width:50%;
  			  position: absolute;
  				top:40%;
  				left: 0;right: 0;
          margin:auto;
  			  transform-style: preserve-3d;
  			  transition:1s;
          animation:animUptoDwon 1.4s linear;
  			}

  			.pic {
  			  display: block;
  			  position: absolute;
  				left: 0;right: 0;margin: auto;
  			  width: 200px;
          transition: .6s;
          // box-shadow: 0px 0px 12px 2px $white;
  				cursor: pointer;
  				img{
  					width: 100%;
            &.shadow{
                -webkit-box-reflect: below 0 -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,0) 20%,rgba(250,250,250,0.2));
            }
  				}
  				.detail{
  					position:absolute;
  					bottom: 0;
  					left: 0;
  					right: 0;
  					width: 100%;
  					height: 30px;
  					line-height: 30px;
  					background-color: $o-black;
  					font-size: $fz-p -2px;
  					text-align: center;
  					color:$white;
  					display: none;
  				}
  			}

  			.pic1 {
  			  transform: rotateY(0deg) translateZ(250px);
  			}
  			.pic2{
  			  transform: rotateY(45deg) translateZ(250px);
  			}
  			.pic3{
  			  transform: rotateY(90deg) translateZ(250px);
  			}
  			.pic4{
  			  transform: rotateY(135deg) translateZ(250px);
  			}
  			.pic5{
  			  transform: rotateY(180deg) translateZ(250px);
  			}
  			.pic6 {
  			  transform: rotateY(225deg) translateZ(250px);
  			}
  			.pic7 {
  				transform: rotateY(270deg) translateZ(250px);
  			}
  			.pic8 {
  				transform: rotateY(315deg) translateZ(250px);
  			}
        .button-square{
          position: absolute;
          margin: auto;
          left: 0;right: 0;
          bottom: 30px;
        }
      }
			#part04{
        width: 100vw;
        height: 100vh;
        .accordion {
  				position: absolute;
  				left: 0px;right: 0;
          top:100px;
          margin: auto;
  			}
  			.accordion .fakeCover:before{
  				content: '';
  				background-color: $o-black;
  				width: 100%;
  				height: 100%;
  				position: absolute;
  				top:0;
  				left: 0;
  				z-index: 2;
  				display: block;
  			}
  			.accordion li {
  				float: left;
  				width: 215px;
  				height: 460px;
  				display: block;
  				background-repeat: no-repeat;
  				background-position: center center;
  				position: relative;
  				overflow: hidden;
  				cursor: pointer;
  				box-shadow: 2px 3px 3px 1px $o-black;
  				transition: 0.8s;
  				z-index: 0;
  				&.know1 {
  					background-image: url("../img/i-know01.png");
  				}

  				&.know2 {
  					background-image: url("../img/i-know02.png");
  				}

  				&.know3 {
  					background-image: url("../img/i-know03.png");
  				}

  				&.know4 {
  					background-image: url("../img/i-know04.png");
						display: none;
  				}
  				&.know5 {
  					background-image: url("../img/i-know04.png");
            display: none;
  				}
  				.memberId{
  					position: absolute;
  					top: 25px;
  					left:70px;
  					color:$white;
  					display: none;
  				}
  				.pic{
  						position: absolute;
  						width: 40px;
  						height: 40px;
  						top:10px;
  						left:20px;
  						border-radius: 50%;
  						box-shadow: 0px 0px 10px 1px $white;
  						display: none;
  						img{
  							width: 100%;
  							height: 100%;
  						}
  				}
  				.heading {
  					background-color: #fff;
  					padding: 10px;
  					margin-top: 60px;
  					opacity: 0.9;
  					font-weight: bold;
  					letter-spacing: 1px;
  					font-size:$fz-p ;
  					color: $black;
  					text-align: center;
  					box-shadow: 3px 1px 1px  #888;
  					position: relative;
  					z-index: 3;
  				}
  				.description {
  					position: absolute;
  					width: 100%;
  					height: 175px;
  					bottom: 0px;
  					left: 0;
  					display: none;
  					h2 {
  						font-size: $fz-h2;
  						color: $black;
  						text-align: left;
  						padding: 0px 15px;
  						text-shadow: -1px -1px 1px $white;
  						width: 480px;
  					}
  					p {
  						font-size: $fz-p;
  						color:$black;
  						width: 480px;
  						padding:15px;
  						letter-spacing: 1px;
  						line-height: 1.5em;
  						text-align: justify;
  					}
  				}

  				.knowDescription {
  					background: linear-gradient(to bottom, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
  					height: 400px;
  					position: absolute;
  					bottom: 0;
  					left: 0;
  					width: 100%;
  					display: none;
  				}
        }
        .button-square{
          position: absolute;
          margin: auto;
          left: 0;right: 0;
          bottom: 30px;
        }
      }
    }//section02
    .section03{
      top:0;
  			background: linear-gradient(to bottom, #020308 0%, #05172b 51%, #011428 84%, #012438 100%);
  			perspective: 1000;
  			overflow: hidden;
  				.stars1 {
  					  width: 1px;
  					  height: 1px;
  					  background: transparent;
  					  animation: animStar 50s linear infinite;
  						box-shadow:$shadows-small;
  					}
  					.stars1:after {
  					  content: " ";
  					  position: absolute;
  					  top: 2000px;
  					  width: 1px;
  					  height: 1px;
  						box-shadow:$shadows-small;
  					  background: transparent;
  					}

  					.stars2 {
  					  width: 2px;
  					  height: 2px;
  					  background: transparent;
  					  animation: animStar 100s linear infinite;
  						box-shadow: $shadows-medium;
  					}
  					.stars2:after {
  					  content: " ";
  					  position: absolute;
  					  top: 2000px;
  					  width: 2px;
  					  height: 2px;
  					  background: transparent;
  						box-shadow: $shadows-medium;
  					}

  					.stars3 {
  					  width: 3px;
  					  height: 3px;
  					  background: transparent;
  					  animation: animStar 150s linear infinite;
  						box-shadow: $shadows-big;
  					}
  					.stars3:after {
  					  content: " ";
  					  position: absolute;
  					  top: 2000px;
  					  width: 3px;
  					  height: 3px;
  					  background: transparent;
  						box-shadow: $shadows-big;
  					}
  					.horizon {
  					  position: absolute;
  					  width: 160%;
  					  height: 70%;
  					  border-radius: 100%/100%;
  					  background: #038bff;
  					  -webkit-filter: blur(30px);
  					  left: 50%;
  					  bottom: -36%;
  					  margin-left: -80%;
  					}
  					.horizon:before {
  					  content: " ";
  					  position: absolute;
  					  width: 81.25%;
  					  height: 70%;
  					  border-radius: 100%/100%;
  					  background: #51AFFF;
  					  -webkit-filter: blur(30px);
  					  opacity: 0.6;
  					  margin-left: 9.375%;
  					}
  					.horizon:after {
  					  content: " ";
  					  position: absolute;
  					  width: 32%;
  					  height: 20%;
  					  border-radius: 650px/350px;
  					  background: #B0DAFF;
  					  -webkit-filter: blur(30px);
  					  opacity: 0.5;
  					  margin-left: 34%;
  					}
  					.horizon .glow {
  					  position: absolute;
  					  width: 100%;
  					  height: 100%;
  					  border-radius: 100%/100%;
  					  background: #215496;
  					  -webkit-filter: blur(200px);
  					  opacity: 0.7;
  					  top: -10%;
  					}

  					.earth {
  					  position: absolute;
  					  width: 200%;
  					  height: 100%;
  					  background: black;
  					  border-radius: 100%/100%;
  					  left: 50%;
  					  bottom: -70%;
  					  margin-left: -100%;
  					}
  					.earth:before {
  					  content: " ";
  					  position: absolute;
  					  width: 100%;
  					  height: 100%;
  					  border-radius: 100%/100%;
  					  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
  					}
  					.earth:after {
  					  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  					  background-size: 100%;
  					  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  					  content: " ";
  					  position: absolute;
  					  width: 100%;
  					  height: 100%;
  					  border-radius: 100%/100%;
  					}

  					.title {
  					  position: absolute;
  					  font-weight: 300;
  					  top: 36%;
  					  left: 0;
  					  right: 0;
  					  margin-top: -80px;
  					  font-size: 60px;
  					  text-align: center;
  					  letter-spacing: 2px;
  					  padding-left: 20px;
  					  background: linear-gradient(white, #dbdde0, #38495a);
  					  -webkit-background-clip: text;
  					  -webkit-text-fill-color: transparent;
  						animation:animGravity 2s both;
  					}
  				.expMem{
  					position:absolute;
  					left: 0;right: 0;
  					top:200px;
  					margin: auto;
  					text-align: center;
  					h1{
  						font-size: $fz-h3;
  						color:$white;
  						padding: 15px;
  						text-shadow: 1px 10px 10px $black;
  					}
  					h4{
  						font-size: 16px;
  						color:$light-grey;
  						font-weight: 100;
  						padding: 16px;
  					}
  				}
  				.join{
  					animation: animJoin 1s 2s both;
  				}
          .button{
            font-size: 12px;
          }
    }
	}
  .button-square {
  	width: 100px; height: 48px;
  	overflow: hidden;
  	position: relative;
  	cursor: pointer;
  	margin: 15px;
  	border-radius: 5px;
  }
  .button {
  	background: #1d1d1d;
  	font-size: 1em;
  	text-align: center;
  	color: #fff;
  	position: absolute;
  	top: 4px;
  	left: 4px;
    cursor: pointer;
    z-index: 2;
  }

  .button-square .button {
  	width: 92px;
    height: 40px;
  	line-height: 42px;
  	// border-radius: 5px;
  }
  .gradient{
  	display: block;
  	content: "";
  	width: 400px; height: 80px;
  	background: linear-gradient(135deg,  #bd328f 0%,#bd328f 18%,#2976ab 42%,#292f75 62%,#bd328f 82%,#bd328f 100%);
  }

}

@keyframes animForumMoveRight{
  0%{opacity: 0;left:600px;}
  100%{opacity: 1;left:0px;}
}
@keyframes animForumMoveLeft{
  0%{opacity: 0;left:-600px;}
  100%{opacity: 1;left:0px;}
}
