@include respones(xs) {
	//在此輸入內容

#f_section2{
		

		#f_tab{
			width: 100%;
			float: left;
			flex-direction: none;
			li{
				display: inline-block;
				width: 30%;
			}

			a{
				// width: 30%;
			}
		}
		
		.f_fn_area{
			width: 100%;
			text-align: center;
			padding-top:0; 

			button{
				width: 40%;
				font-size: 14px;

			}

			.f_search{
				width: 40%;
			}
		}

		.f_posts{
			width: 100%;

			table{
				thead{
					th{

						text-align: center;
						.fa-sticky-note, .fa-user-o{
							display: none;
							
						}
					}
				}

				tbody{
					tr{
						td{
							text-align: center;
							.fa-commenting{
								display: none;
							}
						}
						.f_response{
							float: none;

						}

						.f_topic{
							width: 60%;
						}

						.f_user{
							width: 40%;
						}
					}
				}
			}


		}
	}

#f_one_post{
	.f_lightbox_content{

		table{
			th{
				text-align: center;
				h5{
					text-align: center;

					
				}
			}

			.social-icon{
				float: none;
			}

			
		}

		

		.f_user{
			text-align: center;
		}
	}
}










}