#a-body{
		::-webkit-scrollbar {
	    width: 12px;
	}
	 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 3px rgba(255,255,255,255.5); 
	    border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.5); 
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #353535;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #353535;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #353535;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #353535;
	}
	input{
		border:none;
		background-color: rgba(255,255,255,0.5);
		height: 30px;
		padding-left:28px;
		z-index: 100;
	}
	a{
		text-decoration:none !important;

		
	}

	*{
		// outline: 1px solid #fa0;
		outline: none;
	}
}//body END

.a-relative{
	height: 100%;
	position: relative;
}
.a-pReset{
	padding: 0;
}
.a-mR{
	margin-right: -10px;
}
.a-mL{
	margin-left: -10px;
}
.table{
	display: table;
	border-collapse: collapse; 
}
.thead{
	display: table-header-group;
}
.tbody{
	display:table-row-group;
}
.tr{
	display: table-row;
}
.tr:after{
	content:'';
	display: block;
	clear:both;
}
.th,.td{
	display: table-cell;
}
.a-map{
	
}
.a-banner{
	height: 100vh;
	z-index: 20;
	text-align: center;
	background: url(../img/a_010.jpg);
	background-size: cover;
	background-position: bottom center;
	.a-down{

		i{
			margin: 20px;
			color:$blue-green;
			font-size: $fz-h2;
		}
	}
}
.a-searchInput{
	display: inline-block;
	position: relative;
	// width: 320px;
	// margin: auto;
	i{
		width: 20px;
		font-size: 20px;
		color:#353535;
		position: absolute;
		left: 5px;
		top: 24px;
		bottom: 0;
		margin: 0;
	}

 #pac-input {
        z-index: 10;
        /*position: absolute;*/
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        // margin-left: 12px;
        // padding: 0 11px 0 13px;
        text-overflow: ellipsis;
       width: 425px;
       height: 30px;
        text-align: left;
        margin-top: 20px;
        padding-left: 28px;
      }
	
      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }
}
// #a-panel-date{
// 	margin-top: 20px;

// }
.a-date-control{
	width: 200px
}
.a-panel{
	overflow:hidden;
	position: relative;
	text-align: left;
	margin-top: 70px;
	// border-radius: 50%;
	width: 100%;
	box-sizing:border-box;
	height: 0;
	// padding: 50%;
	// height: 600px;
	height: 100vh;

	background: url("http://cdn.allwallpaper.in/wallpapers/3200x2000/13325/outer-space-stars-galaxies-3200x2000-wallpaper.jpg");
	background-size:100% 100%;
	background-position:50% 80%;
	background-repeat: no-repeat;


	input{
		width: 230px;

	}
	.a-panel-item{
		// margin-bottom: 30px;
		input{
			
			padding: 0;
			border:none;
			height: 30px;
			vertical-align: middle;
		}
	}
	ul{
		// margin-top: 20px;
		a:first-child{
			
			
			background-color: #5694CD;
		}
		a{
			display: inline-block;
			padding:10px;
			&:hover{

				background-color: #5694CD;
			}
		}
	}
	li{
		color:$white;
		
		display: inline-block;

		
		
	
	}
}
.a-title{
	font-size: $fz-h2;
	color:$white;
	margin: 20px;
}
.a-panel-control{
	// width: 320px;
	height: 200px;
	margin: auto;
	
}
.a-text{
	font-weight: bold;
	font-size: $fz-p;
	color:#fff;
	display: inline-block;
	vertical-align: middle;
	text-shadow:2px 2px 5px #666;

}
.a-tab{

	div{
		margin: 40px 20px 20px 0;
		// border:1px solid #fff;
		float: left;
		p{
			color:#fff;
			font-size: $fz-h5;
		}
	}
}
.a-item{
	width: 100%;
	line-height: 1.5;
	position: relative;
	.a-item-g{
					position: absolute;
							  top: 0;
							  bottom: 0;
							  left: 0;
							  right: 0;
							  margin: auto;
					height: 50px;
					text-align: center;
				}

}
.a-text-title{
	color:$white;
	font-weight: bold;
	text-shadow: 0px 0px 8px #666;
	font-size: $fz-h4;
}
.a-text-content{
	color:#fff;
	font-size: $fz-h7;
}
.a-phone-control{

	display: block;
	position: fixed;
			 	top:190%;
			  left: 0;
			  right: 0;
			  margin: auto;
			  z-index: 20;
	text-align: center;
	.a-phone-btn{
		color:$white;
		line-height: 38px;
	}
}
// .a-banner{
// 	display: none;
// }
#a-popups{
	// margin-top: 100px;
}
.a-tab{
	display: none;
}
.a-phone-searchContainer{
	// width: 80%;
	width: 100%;
	// border-radius: 50%;
	margin: auto;
	// box-sizing:border-box;
	position: relative;
	padding: 20px;
	background-color: rgba(255,255,255,0.3);
	// height: 330px;
	margin-top: 10px;
	margin-bottom: 20px;
	// background:url(../img/a_006.jpg);
	// background-size: cover;
	// background-position: center center;
	&:hover{
		background-color: rgba(86,148,205,0.7);
		box-shadow: 0px 0px 20px lightblue;
	}
	
	img{
		height: 200px;
		// border-radius: 50%;
	}
}
.a-phone-search{
	display: block;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	// text-align: center;
	width: 100%;
	// background-color: rgba(255,255,255,.5);
	#a-phone-input_1{
		margin-top: 20px;
	}
	input{
		
		height: 30px;
		width: 100%;
		// text-align: center;
		background-color: rgba(255,255,255,.5);
		border:none;
		font-size: 20px;
		// box-shadow:2px 2px 1px rgba(0,0,0,0.5) inset;

	}
	.a-phone-icon{
		position: absolute;
				  top: 25px;
				  left: 20px;
				  margin: auto;
		width: 30px;
		font-size: 20px;
	}
	.a-phone-icon-2{
		position: relative;
				  top: 25px;
				  left: 10px;
				  margin: auto;
		width: 30px;
		font-size: 20px;
	}
	.a-phone-input{
		display: none;
	}
	
	.fa-chevron-up{
		cursor: pointer;
		position: relative;
		top: 10px;
		display: block;
		text-align: left;
		display: none;
		font-size: $fz-h2;
		color:#888;
	}
}


/*=====================================
            增加活禹面
    =======================================*/
.a-lb-add{
	background: url("../img/a_008.jpg");
	padding: 20px;
	// background-color: #666;
	width: 100%;
	margin: auto;
	.tr{
		width: 100%;
		// background-color: #444;
		.td:first-child{
		}
	}
	
	.td{
		padding: 20px;
		textarea{
			width: 80%;
			height: 200px;
			vertical-align: top;
		}
	}
	.table:first-child{
		text-align: center;
		font-size: $fz-h3;
		font-weight: bold;
	}
	.table{
		width: 100%;
		margin: auto;
		// background-color: #666;
		.tr:first-child{
			width: 100%;

		}
		.tr:nth-child(3){
			p{
				vertical-align: middle;
			}
		}
		.tr:nth-child(2){
			input{
				width: 350px;
			}
		}

		.thead{
			padding: 20px;
		}
	}
	.table:first-child .td{
		border-bottom: 2px solid #fff;

	}

	.table:last-child .td{
		text-align: center;
		input{
			margin: 50px;
			color:$white;
		}
	}
	.table:nth-child(2){
		.tr .td:first-child{
			width: 150px;
		}
		.tr{
			border-bottom:1px dotted #fff;
		}
		
	}
	color:$white;
}
.a-x{
	float: right;
	font-size: $fz-h5;
}//增加活禹面Y束





/*=====================================
            活釉面
    =======================================*/
.a-lb-act{
	background:url("../img/a_008.jpg");
	background-position: center top;
	.table{
		position: relative;
		margin: auto;
		width: 100%;
		.td{
			position: relative;
			padding:20px;
			color:$white;
			.a-text{
				position: relative;
				
			}
		}	
		.tr{
			border-bottom: 1px solid #346671;
		}
		.tr span{
			position: absolute;
			right: 0;
			font-size: 16px;
			color:#fff;
			vertical-align: middle;
			

		}
		.tr:nth-child(2) .td{
			text-align: center;
			span{
				line-height: 72px;
			}
			.a-text{
				font-size: $fz-h2;
				vertical-align: middle;
				display: block;
				p{
					margin: 20px;
					display: inline-block;
					font-weight: bold;
				}
			}
			
		}

		.tr:nth-child(7) .td{

			.a-text{
				display: block;
			}
		}
		.tr:first-child .td .a-x{
			font-size: $fz-h2;
		}
		.tr:nth-child(8) {
			p{
				font-size: $fz-h3;
				text-align: center;
				margin: 20px;
			}
			
			.a-text{
				line-height: 1.5;
			}
			.btn-lg{
				display: block;
				line-height: 38px;
				margin:20px auto;

			}
		}
		.tr:nth-child(9) .a-text{
			width: 100%;
		}
		.tr:nth-child(10) .a-text{
			width: 100%;
		}
	}
	.a-user{
		font-size: $fz-h1;
		vertical-align: middle;
		margin-top: 40px;
		width: 100%;
		position: relative;
		textarea{
			position: absolute;
					  top: 0;
					  left: 60px;
					  right: 0;
					  margin: auto;
			vertical-align: middle;
			height: 50px;
			width: 85%;
		}
	}

}//活咏Y束


.a-phone-control{
}
.a-phone-search{
	display: none;
}
#a-oldSlider{
	// display: none;
	// overflow-y:scroll; 
	margin: 0 -10px;
	height: 50%;
	// width: 100%+10;
}
.a-scrollArea{
	width: 100%;
	height: 50vh;
	overflow-y:scroll;
}


@import "pageMain/xs";
@import "pageMain/sm";
@import "pageMain/md";
@import "pageMain/lg";
@import "pageBranch/xs";
@import "pageBranch/sm";
@import "pageBranch/md";
@import "pageBranch/lg";
@import "pageBranch/pageRecommend";
@import "pageMain/maginic";
@import "pageBranch/addACT";
// @import "../layout/nav";