// @import "xs";
@import "sm";
// @import "md";
@import "lg";


//此處為 共用設定

// @include respones(md) {
	//993px以上
#m_body{
		

		background-image: url(../img/forum/f_003.jpg);
		// background: #333;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		padding: 0;

	}



//會員頁 
	#m_wrapper{
		width: 100%;
		height: 100vh;
		// background-color: #000;
		// background-color: #19191f;
		// background-color: rgba(31, 76, 116, 1.0);
		// background-image: radial-gradient(ellipse at center, rgb(31, 76, 116) 0%, #090a0f 50%);
		background-image: radial-gradient(ellipse at center, rgba(31, 76, 116, 1) 0%, rgba(29, 34, 60,0.8) 30%, rgba(9, 10, 15, 0.5) 50%);
		position: relative;
// ##1
		h1{
			font-size: $fz-h3;
			color: $white;
			text-align: center;
			font-family: Lato;
		    font-weight: 300;
		    letter-spacing: .4em;
		    text-transform: uppercase;
		    padding-top: 100px;
		    text-shadow: 0 10px 5px rgba(0,0,0,.2);
		}
// ##2
		@keyframes m_float{
				0% {transform:translateY(-8px);}
				// 50% {transform:translateY(0px);}
				100% {transform:translateY(8px);}
			}

		.m_user_img{
			width: 120px;
			height: 120px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			border: 5px solid rgba(70, 130, 180, 0.5);
			text-align: center;
			border-radius: 50%;
			box-shadow: 1px 1px 6px #000;
			z-index: 999;
			transition:3s cubic-bezier(.24,1.21,.32,1.54);
			

			

			img{
				width: 100%;
				height: 100%;
				
			}


			.m_user_lv{
			    position: absolute;
			    bottom: 10px;
			    right: -120px;
			    // width: 100px;
			    // height: 40px;
			    padding: 10px;
			    // background-color: rgba(67, 116, 157, 0.7);
			    /* background-position: center center; */
			    /* background-size: 100%; */
			    // border-radius: 20px;
			    // line-height: 40px;
			    text-align: left;
			    color: rgba(255, 255, 255, 0.8);
			    text-shadow: 1px 1px 1px #000;
			    transition: 1s 0.5s cubic-bezier(0.24, 1.21, 0.32, 1.54);
			    font-size: 16px;
			    letter-spacing: 0.05em;

			    span{
			    	// color: rgb(245, 178, 134);
			    	letter-spacing: 0.08em;
			    	font-size: 18px;
			    }

			    &:before{
		    	    content: '';
				    /* display: block; */
				    width: 0px;
				    height: 75%;
				    border: 1px solid rgba(243, 247, 247, 0.41);
				    position: absolute;
				    left: -3px;

			    }
			}


		}
// ##3
		#canvas{
			width: 80%;
		    position: absolute;
		    top: 100px;
		    bottom: 0;
		    left: -85px;
			right: 0;
			margin: auto;
			opacity: 0;
			// transform: scale(0.1,0.1);
			transition:8s all;
			animation: m_float 3s linear 0s infinite alternate;

		}
// ##4

		.m_infos{
			width: 100%;
			height: 50%;
			// background-color: #000;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			// z-index: -20;
			color: #fff;
			text-align: center;

			span{
				display: block;
				margin-bottom: 7px;
				letter-spacing: 0.05em;
			}

			.fa{
				font-size: 24px;
				// border: 1px solid #fff;
				// padding: 10px;
				// border-radius:50%;
				// background-color: rgba(255,255,255,0.3); 
			}

			.m_label>a{
				color: rgb(115, 182, 239);
				font-size: 18px;
				font-weight: 800;


			}

			.m_value{
				font-size: 14px;
				color: rgba(255,255,255,0.5);
			}

			.m_info{
					position: absolute;
					text-align: center;

					&:hover{
						// transform:scale(1.1,1.1);
						// font-size: 20px;
						// border: 1px solid #fff;
						border-radius: 50%;
						background-color: rgba(78, 104, 162, 0.8);
						box-shadow: 1px 1px 1px #000;
						padding: 10px;
						transition:.5s all;

						



					}
				}

			.m_infos_left{
				width: 50%;
				height: 100%;
				// background-color: #fff;
				position: absolute;
				left: 0;
				text-align: right;

				.m_info_activity{
					right: 40%;
					// animation: m_float 3s linear 0s infinite alternate;
				}

				.m_info_forumpost{
					bottom: -20px;
					right: 40%;
					// animation: m_float 4.5s linear .5s infinite alternate;
				}
				
				


			}

			.m_infos_right{
				width: 50%;
				height: 100%;
				// background-color: #ccc;
				position: absolute;
				right: 0;
				text-align: left;

				.m_info_id{
					left: 30%;
					top: 20%;
					// animation: m_float 3s linear .5s infinite alternate both;
				}

				.m_info_photo{
					left: 40%;
					top: 20%;
					// animation: m_float 3s linear 0s infinite alternate;
				}

				.m_info_save{
					bottom: -20px;
					left: 30%;
					// animation: m_float 5s linear 1s infinite alternate;

				}
				
			}


		}

		
	}

// #lightbox區

	.m_lightbox_area{
		width: 100%;
		height:100vh;
		// background-color: rgba(0,0,0,0.8);
		// background-color: rgb(31, 76, 116);
		// background-image: url(../img/forum/f_003.jpg);
		background-image: linear-gradient( #1f4c74 0%, rgba(29, 34, 60, 0.8) 30%, rgba(9, 10, 15, 0.9) 70%);
		color: #fff;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999999;
		overflow: hidden;
		padding-top: 50px;
		transform:scale(0);
		transition:1s ease;

		.fa-times{
			font-size: 15px;
			float: right;
			cursor: pointer;
			border: 2px solid #fff;
			border-radius: 50%;
			padding: 5px;

		}


		.m_left, .m_right{
			float: left;
			height: 70vh;
			margin-top: 30px;
		}

		.m_left{
			width: 20%;

			ul{
				border:1px solid rgba(255,255,255,0.8);
				height: 70vh;
				// width: 90%;
				padding: 30px 0px;
				// background-color: rgba(0,0,0,0.3);

				li{
					width: 100%;
					height: 30px;
					text-align: center;
					font-size: 18px;
					margin-bottom: 30px;
					// color: rgba(115, 182, 239, 0.7);
					color: $white;
				    font-weight: 800;
				    line-height: 30px;
				    cursor: pointer;

				    &:hover{
				    	color:#daaf73;
				    }

				    &.selected{
				    	color:#daaf73;
				    }

				    .fa{
				    	font-size: 22px;
				    	margin-right: 10px;

				    }
				}
			}

		}
// right-side start

		.m_right{
			width: 80%;
			// background-color: rgba(255,255,255,0.3);
			overflow-y: auto;

			.m_content{
				width: 90%;
				margin: auto;
			}

			.m_title{
				width: 100%;
				// height: 30px;
				margin: auto;
				padding:10px 0;
				border-bottom: 4px double rgba(255,255,255,0.5);
				// color: #73b6ef;
				color: $white;
				letter-spacing: 0.08em;
				text-align: center;

				h4{
					// width: 80%;
					font-size: 20px;
					text-align: left;
					// background-color: #fff;
				}
			}
			table{
				width: 80%;
				margin: auto;
				border: 1px solid rgba(255,255,255,0.1);
				letter-spacing: 0.05em;
				font-family: Arial;
				color:  rgba(255,255,255,1);
				font-weight: 400;
				letter-spacing: 0.08em;
				margin-top: 30px;

				th, td{
					padding:20px; 
					border-bottom: 1px dotted rgba(255,255,255,0.6);
				}

				th{
					text-transform: uppercase;
					text-align: right;
					font-weight: 300;

				}

				input{
					padding:3px 5px;
					letter-spacing: 0.05em;
				}
			}
		}


	}

	.m_id{
		button{
				display: block;
				margin: auto;
				margin-top:40px;
				color: #fff;
				font-size: 16px;
				letter-spacing: 0.05em;
				text-shadow:1px 1px 1px #000;

			}
	}
// 活動頁設定

.m_activity_table{
			margin-top: 50px;
			width: 100%;
			// height: 200px;
			// background-color: #fff;
			margin: auto;
			// margin-top: 10px;

			.m_act_box{
					width: 100%;
					margin: auto;
					height: 150px;
					border: 1px solid rgba(255,255,255,0.1);
					// background-color: rgba(3, 75, 136, 0.75);
					position: relative;
					
					&:hover{
						box-shadow: -1px -1px 0px #ddd;
						margin-top: 1px;
					}
					

					.m_act_photo{
						width: 40%;
						height: 100%;
						overflow: hidden;
						margin: 0;
						float: left;

						img{
							height: 100%;

						}

					}

					.m_act_info{
						width: 60%;
						float: left;
						padding: 10px 15px;
						


						h3{
							font-size: 20px;
							color: $white;
							text-shadow:1px 1px 1px #333;
							margin-bottom: 20px;
						}

						

						p{
							letter-spacing: 0.05em;
							color: #ccc;
							font-size: 16px;
							line-height: 1.5em;
						}
						
					}
			}


			.f_btn{
					width: 100%;
					height: 20px;
					// margin-top: 20px;
					text-align: right;
					font-size: 16px;

					button{
						width: 45px;
						height: 30px;
						border-radius: 5px;
						border: 1px solid steelblue;
						background-color: rgba(0,0,0,0);
						color: steelblue;
						text-shadow:1px 1px 1px #000;
						box-shadow: 1px 1px 1px #333;
						// float: right;
						// margin-left: 10px;

						&:hover{
							background-color: steelblue;
							color: $white;
							box-shadow: 0px 0px 0px #000;
						}

					}
			}

			.m_type{
				position: absolute;
				background-color: rgba(255, 189, 0, 0.74);
				color: $white;
				padding: 5px 8px;
				box-shadow: 1px 1px 2px #000;
				letter-spacing: 0.05em;
				top: 5px;
				left: -5px;
				text-shadow:1px 1px 1px #000;
			}
}


// 貼文開始

		.m_post_box{
			width: 90%;
			// height: 120px;
			border: 1px solid rgba(0,0,0,0.3);
			background-color: rgba(0,0,0,0.5);
			box-shadow: 1px 1px 12px #ccc;
			position: relative;
			letter-spacing: 0.08em;
			margin: auto;


			.m_post_info{
				width: 100%;
				padding: 10px;
				padding-left: 90px;
				h3{
					font-size: 20px;
				}

				.aa{
					p{
						display: inline-block;
						margin-right: 10px;

						img{
							width: 15px;
							height: 15px;
							vertical-align: middle;
							margin-right: 5px;
						}
						span{
							vertical-align: middle;
							a{
								color: rgba(255,255,255,0.5);
							}
						}
					}
				}

				.f_btn{
					position: absolute;
					right: 5px;
					top: 20px;

					button{
						width: 45px;
						height: 30px;
						border-radius: 5px;
						border: 1px solid steelblue;
						background-color: rgba(0,0,0,0);
						color: steelblue;
						text-shadow:1px 1px 1px #000;
						box-shadow: 1px 1px 1px #333;
						// float: right;
						// margin-left: 10px;

						&:hover{
							background-color: steelblue;
							color: $white;
							box-shadow: 0px 0px 0px #000;
						}

					}


				}

				.m_type{
					position: absolute;
					background-color: rgba(255, 189, 0, 0.74);
					color: $white;
					padding: 5px 8px;
					box-shadow: 1px 1px 2px #000;
					letter-spacing: 0.05em;
					top: 5px;
					left: -5px;
					text-shadow:1px 1px 1px #000;
				}

			}


		}




// tab頁籤開始

	.m_sub_tab{
		// margin: 0;
		// padding: 0;
		margin-bottom: 0px;
		margin-top: 20px;
		font-size: 16px;


		li{
			display: inline-block;
			// border: 1px solid #ddd;
			// background: #fafafa;
			// color: rgba(255,255,255,0.5);
			height: 32px;
			cursor: pointer;
			// border-radius: 5px 5px 5px 5px;
			padding: 5px 10px;
			text-shadow:1px 1px 1px #000;

			
		} 

		.active{
				background-color: #7fc8e7;
				color: $white;
				padding-bottom: 1px;
				border-bottom: none;
				border: 1px solid #7fc8e7;
			}

			.hover{
				// background: #f5f5f5; 
				color: #7fc8e7;
			}
	}
//tab被點擊到的樣式
			

	.m_activity_table {
		padding-top: 10px;
		// border: 1px solid #DDD;
		// background: rgba(0,0,0,0.5);
		border-radius: 5px;
		padding-bottom: 30px;
		height: 300px;
		overflow-y:auto; 

		.m_tab_content{
			position: relative;
			// height: 150px;
			// overflow: hidden;

			&>li{
				position: absolute;
				width: 100%;

				// width: 610px;
				// height: 100%;
				padding: 15px;
				margin-top: 10px;
				// background: #fff;
			}
		}

	}
	// tab頁籤結束
	//test
	.m_sub_tab1{
		// margin: 0;
		// padding: 0;
		margin-bottom: 0px;
		margin-top: 20px;
		font-size: 16px;


		li{
			display: inline-block;
			// border: 1px solid #ddd;
			// background: #fafafa;
			// color: rgba(255,255,255,0.5);
			height: 32px;
			cursor: pointer;
			// border-radius: 5px 5px 5px 5px;
			padding: 5px 10px;
			text-shadow:1px 1px 1px #000;

			
		} 
		.active{
				background-color: #7fc8e7;
				color: $white;
				padding-bottom: 1px;
				border-bottom: none;
				border: 1px solid #7fc8e7;
			}

			.hover{
				// background: #f5f5f5; 
				color: #7fc8e7;
			}

	}
//tab被點擊到的樣式
			

	.m_activity_table1 {
		padding-top: 10px;
		// border: 1px solid #DDD;
		// background: rgba(0,0,0,0.5);
		border-radius: 5px;
		padding-bottom: 30px;
		height: 300px;
		overflow-y:auto; 

		.m_tab_content1{
			position: relative;
			// height: 150px;
			// overflow: hidden;

			&>li{
				position: absolute;
				width: 100%;

				// width: 610px;
				// height: 100%;
				padding: 15px;
				margin-top: 10px;
				// background: #fff;
			}
		}

	}


	//test

	.m_id, .m_activity, .m_posts{
		// display: none;
	} 

	.m_activity{
		display: block;
	}




		


		
		
	
// @import "xs";
// @import "md";




// }