@include respones(md) {
    #logo {
        float: left;
        width: 12%;
        padding-top: 15px;
    }

    .mainMenu {
        float: left;
        padding-top: 30px;

        li {
            display: inline-block;
            position: relative;
        }

        &.menu {
            width: 74%;
            text-align: right;

            a {
                display: block;
                color: $white;
                font-size: $fz-nav;
                padding: 14px 10px;
                letter-spacing: 1px;
            }
        }

        &.signArea {
            width: 14%;
            text-align: right;
            a {
                display: block;
                font-size: $fz-nav - 2px;
                color:$light-grey;
                letter-spacing: 1px;
                padding:16px 5px 12px 0px;
                &:hover{
                  color:$white;
                }
            }
            .fa{
              display: none;
            }
        }
        // #signLeft a:after{
        //   content: '|';
        //   display: block;
        //   position: absolute;
        //   top:12px;
        //   right:-5px;
        //   color:$light-grey;
        // }
    }

    .menu a:hover {
        border-bottom: 2px solid $blue-green;
        text-shadow: 1px 1px 5px 10px $grey;
    }
    #navButton{
      display: none;
    }
}
