
#nav {
    height: 80px;
    width: 100%;
    background-color: $o-black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

#navButtonHidden {
    position: absolute;
    left: -1000px;
}
