@include respones(sm) {
  #logo{
    float: none;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 15px;
  }
  .mainMenu{
    float: left;
    padding-top: 30px;
      li{
        display: inline-block;
        position: relative;
      }
      &.menu{
        display: none;
      }
      &.signArea {
          width: 14%;
          text-align: right;
          position: absolute;
          top:0;
          right:0px;
          a {
              display: block;
              font-size: $fz-nav - 2px;
              color:$light-grey;
              letter-spacing: 1px;
              padding:5px;
              &:hover{
                color:$white;
              }
          }
      }
      }




}
