//此處為 共用設定
*{
	// outline: 1px solid #fa0;
	font-family: "微軟正黑體",Tahoma,Arial;
}

#p-body{
	background: linear-gradient(to bottom, #020308 0%, #05172b 51%, #011428 84%, #012438 100%);
	background-repeat: no-repeat;
}
 .p-tabsearch{
	margin-top: 150px;
 	height: 80px;
 	z-index: 999;
 	position: relative;
 	margin-bottom: 20px;
 	
 	// background-color: rgba(255,255,255,0.2);
	// background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.4));
	
 	.container{
 		border-bottom: 2px solid #555;

 	}
 	.p-search{
 		margin: 25px 0 15px 0px;
 		padding-left: 15px;
 		.camera{
			border: 0px;
 			float:left;
			i{
				color: #fff;
				font-size: 30px;
				transition:0.5s;
			}
			i:hover{
				color: #7FC8E7;
				transition:0.5s;
				
			}
  		}
		.input{
			float:left;
			margin-left: 10px;
			position: relative;
			width: 80%;
			input{
				width: 100%;
				height: 30px;
				border:1px solid #999;
				border-radius:5px 5px;
				padding-left: 30px;
				outline: none;
				}
			.fa-search{
				position: absolute;
				top:7px;
				left: 10px;
				color: #999;
				font-size: 16px;
			}

		}

		
	}
	.p-tab{

		height: 60px;
		text-align:right;
		.label{
			margin-top: 30px;
			a{
				margin-right: 20px;
				padding: 8px;
				font-size: 18px;
				color: #fff;
				transition:0.5s;

			}
			a:hover{
				font-size: 22px;
				font-weight: bolder;
				padding:8px;
				color: #7FC8E7;
				transition:0.8s;

			}
		}
		
				
	}

 }
 
 // .p-new-content{
 // 	margin-top: 50px;

 // 	.p-n-pic{
 // 		padding: 10px 20px 10px 20px;
 // 		position: relative;
		
 // 		img{
 // 			width: 100%;
 // 			border-radius: 5px 5px;

 // 		}
 // 		.user{
 // 			width: 94.5%;
 // 			margin: auto;
 // 			opacity: 0;
 // 			position: absolute;
 // 			top:80%;
 // 			left: 10px;
 // 			background-color: rgba(0,0,0,0.1);
	// 		padding: 8px 0px 8px 15px;
	// 		transition:0.5s;
 // 			img{
 // 				width: 15%;
 // 				border-radius: 50%;
 // 				float: left;
 // 			}
 // 			p{
 // 				margin-top: 15px;
 // 				margin-left: 10px;
 // 				font-size: 14px;
 // 				color: rgba(255,255,255,0.8);
 // 				float: left;
 // 			}
 // 		}
 // 		.p-n-icon{
 // 			opacity: 0;
 // 			width:94.5%;
 // 			height: 15%;
 // 			position:  absolute;
 // 			top:3%;
 // 			// padding-left:60%;
	// 		padding-top: 8px;
	// 		background-color: rgba(0,0,0,0.1);
	// 		transition:0.5s;
			
 // 			.a{
 // 				width: 80px;
 // 				height: 30px;
 // 				float: left;
 // 				background-color: rgba(255,255,255,0.7);
 // 				border-radius: 5px 5px;
 // 				margin-right: 10px;
 // 				margin-bottom: 16px;
 // 				top: 10px;
 // 				bottom: 0;
 // 				left: 60%;
 // 				right: 0;
 // 				position: absolute;

 // 				.fa-heart{
	// 				margin-top: 7px;
	// 				margin-left:8px;
	// 				font-size:18px;
	// 				color: #F15151;
 // 				}
 // 				h5{
 // 					display: inline-block;
 // 					margin-left: 10px;
 // 					color: #555;
 // 				}
 // 			}
 // 			.b{
 // 				float: left;
 // 				width: 40px;
 // 				height: 30px;
 // 				background-color: rgba(255,255,255,0.7);
 // 				border-radius: 5px 5px;
 // 				position: absolute;
 // 				top: 10px;
 // 				bottom: 0;
 // 				left: 85%;
 // 				right: 0;
 // 				.fa-share{
 // 					font-size: 18px;
 // 					margin-top: 8px;
	// 				margin-left: 10px;
	// 				color: #888;
 // 				}
 // 			}
 			
 // 		}
 // 	}
 // 	.p-n-pic :hover{

 // 		.user,.p-n-icon{
	// 		transition:0.5s;
 // 			opacity: 1;

 // 		}
		
 // 	}
 // }

 
// 相片內頁
		
		
.p-inside{
	margin-top: 50px;
	width: 100%;
	background-color: #fff;
	.p-in-pic{
		width: 100%;
		height:920px;
		position: relative;
		background-position: center;
		background-image: url(../img/p_bigpic_001.jpg);
		background-repeat: no-repeat;
	.p-in-icon{
 			position: absolute;
 			top:94%;
 			left: 1%;
 			.a{
 				width: 80px;
 				height: 32px;
 				float: left;
 				background-color: rgba(255,255,255,0.8);
 				border-radius: 5px 5px;
 				margin-right: 18px;
 				margin-bottom: 16px;
 			
 				.fa-heart{
					margin-top: 8px;
					margin-left:8px;
					font-size:16px;
					color: #F15151;
 				}
 				h5{
 					display: inline-block;
 					margin-left: 10px;
 					font-size: 14px;
 					color: #555;
 				}
 			}
 			.b{
 				float: left;
 				width: 46px;
 				height: 32px;
 				background-color: rgba(255,255,255,0.8);
 				border-radius: 5px 5px;
 				.fa-share{
 					font-size: 16px;
 					margin-top: 9px;
					margin-left: 13px;
					color: #666;
 				}
 			}
 			
 		}
	 }
	
.p-in-content{
	.container{
		height: 1600px;
		background-color: #fff;
	}
	.left{
		width: 100%;
	
	.mid{
		width: 100%;
		height: 100%;
		margin: auto;
		margin-top: 60px;

	}
	.user{
	width: 100%;
   	text-align: center;
		img{
			width:100px;
			border-radius: 50%;
		
		}
		h5{
			display:block;	
			margin-top: 5px;
		}
	}
    }

	.content{
		padding-bottom: 10px;
		margin-top: 20px;

	h3{
		margin-top: 40px;
		font-size: 22px;
		text-align: center;
		color: #4f9cdd
	}
	p{	
		width: 60%;
		font-size: 14px;
		margin:auto;
		margin-top: 10px;
		line-height: 24px;
		padding: 5px;
	}
 }
.messagebox{
	margin-top: 60px;
	margin-bottom:180px;
		
	
	.message{
		margin:auto;
		margin-top: 10px;

		padding-left:40%;
		.ms-user{

		img{
			margin-top: 5px;
			width: 40px;
			height: 100%;
			border-radius: 50%;
			overflow: hidden;
			float: left;

		}
		}
		.ms-content{
			float: left;
		h5{
			display:inline-block;
			margin-left: 10px;
			font-size: 12px;
			color: #4f9cdd
		}
		h6{
			display:inline-block;
			margin-left: 10px;
			font-size: 12px;
		
		}
		p{
			margin-top: 10px;
			margin-left: 10px;
			font-size: 10px;

		}
		}
		textarea{
			width: 200px;
			margin-top: 5px;
			margin-left: 10px;
		}
	}
	}
	}
	
.r-left{
	height: 100%;
	margin-bottom: 210px;	
	.adress{
		text-align: center;
		h2{
			font-size: 18px;
			display: inline-block;

		}
		i{
			font-size: 20px;
			color: #4f9cdd;
			padding-right:10px;
		}
		h5{	
			padding: 10px 0px 10px 0px;
			font-size: 22px;
			color: #555;

		}
	}
	.tag{
		text-align: center;
		h2{
			font-size: 18px;
			display: inline-block;
		}
		i{
			font-size: 18px;
			color: #4f9cdd;
			padding-right:8px;
		}
		a{
			font-size: 14px;
			line-height:20px;
			padding:0 5px 0 5px;
			direction: none;
			color: #4f9cdd;
		}
		p{
			padding: 12px 0px 10px 0px;
		}

	}
	.icon{
		text-align: center;
		h2{
			font-size: 18px;
			display: inline-block;
		}
		i{
			font-size: 17px;
			color: #4f9cdd;
			padding-right:10px;
		}
		h5{	
			padding: 10px 0px 10px 0px;
			font-size: 22px;
			color: #555;
		}
	}
	.number{
		text-align: center;
		h2{
			font-size: 18px;
			display: inline-block;
		}
		i{
			font-size: 20px;
			color: #4f9cdd;
			padding-right:10px;
		}
		h5{	
			padding: 10px 0px 10px 0px;
			font-size: 22px;
			color: #555;
		}
	}
}	
	.recommend{
		h2{
			margin-left: 28px;
			font-size:16px;
		}
		.itembox{
			text-align: center;
		.item{
			display: inline-block;
			margin: 10px;
		}
		img{
			width:250px;
			height: 250px;
			border-radius: 10px 10px;
			opacity: 0.8;
			transition:0.5s;
		}
		img:hover{
			opacity:1;
			transition:0.5s;
		}
		}
	}
	.back{
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
		h2{
			cursor: pointer;
			font-size: 28px;
			display: inline-block;
			color: #999;
			transition:0.5s;
		}
		h2:hover{
			color: #000;
			transition:0.5s;
		}
		.fa{
			
			font-size:22px;
			color: #999;
			margin-right: 20px;

		}
	}
}
// 上傳照片
.p-upload{
	
	
	.container{
		margin-top: 140px;
		margin-bottom: 100px;
		height: 750px;
		background: url(../../img/p_back_001.png);	
	}
	
	.title{
		h1{
			width: 1000px;
			border-bottom: 2px solid #FFF;
			margin-left: 70px;
			padding-top: 80px;
			padding-bottom: 30px;
			color: #FFF;
			font-size: 26px;
		}
	}
	.table{
		width: 1000px;
		margin-left: 70px;
		padding-top: 50px;
		th{
			border-bottom: 1px dotted rgba(255,255,255,0.6)
		}
		#tit{

			width: 200px;
			height: 80px;
			font-size: 18px;
			color: #fff;
			vertical-align: middle;
		}
		#box{
			width: 800px;
			height: 80px;
			text-align: left;
			vertical-align: middle;
			


		}
		textarea{
			width: 800px;
			height: 160px;
			border-radius: 5px 5px;
		}
		#box p{
			width: 100px;
			background-color: #CCC;
			padding-left: 10px;
			margin-bottom: 10px;
		}
		input{
			height: 22px;
			border-radius: 3px 3px;
			background: #fff;
		}
	}
	.check{
		width: 100%;
		margin-top: 50px;
		text-align: center;
	}
}

// 星星
@import "star";
.star1 {
width: 1px;
height: 1px;
background: transparent;
animation: animStar 50s linear infinite;
box-shadow: $shadows-small;
}
.star1:after {
content: " ";
position: absolute;
top:2000px;
width: 1px;
height: 1px;
box-shadow: $shadows-small;
background: transparent;
}
.star2 {
width: 2px;
height: 2px;
background: transparent;
animation: animStar 100s linear infinite;
box-shadow: $shadows-medium;
}
.star2:after {
content: " ";
position: absolute;
top: 2000px;
width: 2px;
height: 2px;
background: transparent;
box-shadow: $shadows-medium;
}
.star3 {
width: 3px;
height: 3px;
background: transparent;
animation: animStar 150s linear infinite;
box-shadow: $shadows-big;
}
.star3:after {
content: " ";
position: absolute;
top: 2000px;
width: 3px;
height: 3px;
background: transparent;
box-shadow: $shadows-big;
}

@keyframes animStar {
from {
transform: translateY(0px);
}
to {
transform: translateY(-1000px);
}
}

@import "lg";
@import "md";
@import "sm";
@import "xs";