@include respones(xs) {
	//在此輸入內容
.a-map{
	// display: none;
	.googleMap{
		display: none;
	}
}


.wrap{
	display: none;
}
#a-oldSlider{
	position: relative;
	height: 1000px;
	display: block;
}
.a-phone-search{
	display: block;
}
.a-panel-top{
	display: none;
}
#a-phone-show{
	height: 200px;
}
}//xs結束