html, body { height: 100%; margin: 0; padding: 0; }
      .googleMap{
        /*height: 100%;*/
      }
      #target {
        width: 345px;
      }
      #map { 
        height: 100%;
        width: 100%; 
        position: relative;
      }
      #control{
        z-index: 10000;
        width: 0%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        position: fixed; 
        left: 0;
        top: 0;

      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

     

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #co{
        /*border-radius: 50%;*/
        height: 100%;
        width: 0%;
        /*left: -300px;*/
        font-size: 50px;

        text-align: center;
      }
      #co>p{
        font-size: 50px;
        z-index: 1000;
        color:skyblue;
        text-align: center;
      }
      #co>input{
        position: relative;
        /*top: -50px;*/
        /*display:none;*/
      }
      
      #content{
        width: 400px;
        background-color: #ccc;
      }
      #zero{
        width: 300px;
        height: 300px;
        background-color: #f00;
        display:none;
      }