@import url(../libs/font-awesome/css/font-awesome.min.css);
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.hidden {
  visibility: hidden; }

.relative {
  position: relative; }

.btn {
  width: 100px;
  height: 35px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px; }
  .btn a {
    padding: 0px 10px;
    display: block;
    text-decoration: none;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 2px; }

.btn-lg {
  width: 155px;
  height: 55px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px; }
  .btn-lg a {
    padding: 0px 10px;
    display: block;
    text-decoration: none;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 2px; }

.btn-blue {
  background-color: #4f9cdd;
  border: 1px solid #4f9cdd; }
  .btn-blue a {
    color: #f3f7f7; }

.btn-blue1 {
  background-color: transparent;
  border: 1px solid #4f9cdd; }
  .btn-blue1 a {
    color: #4f9cdd; }

.container {
  margin: auto;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

.container:after,
.row:after {
  content: '';
  display: block;
  height: 0;
  width: 100%;
  clear: both; }

.clear {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
  float: left;
  padding: 0 10px; }

.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
  float: left;
  padding: 0 10px; }

.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
  float: left;
  padding: 0 10px; }

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
  float: left;
  padding: 0 10px; }

.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
  float: left;
  padding: 0 10px; }

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
  float: left;
  padding: 0 10px; }

.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
  float: left;
  padding: 0 10px; }

.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
  float: left;
  padding: 0 10px; }

.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
  float: left;
  padding: 0 10px; }

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
  float: left;
  padding: 0 10px; }

.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
  float: left;
  padding: 0 10px; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  float: left;
  padding: 0 10px; }

div[class*=col-xs-push],
div[class*=col-xs-pull],
div[class*=col-sm-push],
div[class*=col-sm-pull],
div[class*=col-md-push],
div[class*=col-md-pull],
div[class*=col-lg-push],
div[class*=col-lg-pull] {
  position: relative; }

@media screen and (max-width: 767px) {
  .container {
    width: 100%; }
  .row {
    margin-left: 0;
    margin-right: 0; }
  .col-xs-1 {
    width: 8.33333%; }
  .col-xs-push-1 {
    left: 8.33333%; }
  .col-xs-pull-1 {
    right: 8.33333%; }
  .col-xs-offset-1 {
    margin-left: 8.33333%; }
  .col-xs-2 {
    width: 16.66667%; }
  .col-xs-push-2 {
    left: 16.66667%; }
  .col-xs-pull-2 {
    right: 16.66667%; }
  .col-xs-offset-2 {
    margin-left: 16.66667%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-push-3 {
    left: 25%; }
  .col-xs-pull-3 {
    right: 25%; }
  .col-xs-offset-3 {
    margin-left: 25%; }
  .col-xs-4 {
    width: 33.33333%; }
  .col-xs-push-4 {
    left: 33.33333%; }
  .col-xs-pull-4 {
    right: 33.33333%; }
  .col-xs-offset-4 {
    margin-left: 33.33333%; }
  .col-xs-5 {
    width: 41.66667%; }
  .col-xs-push-5 {
    left: 41.66667%; }
  .col-xs-pull-5 {
    right: 41.66667%; }
  .col-xs-offset-5 {
    margin-left: 41.66667%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-push-6 {
    left: 50%; }
  .col-xs-pull-6 {
    right: 50%; }
  .col-xs-offset-6 {
    margin-left: 50%; }
  .col-xs-7 {
    width: 58.33333%; }
  .col-xs-push-7 {
    left: 58.33333%; }
  .col-xs-pull-7 {
    right: 58.33333%; }
  .col-xs-offset-7 {
    margin-left: 58.33333%; }
  .col-xs-8 {
    width: 66.66667%; }
  .col-xs-push-8 {
    left: 66.66667%; }
  .col-xs-pull-8 {
    right: 66.66667%; }
  .col-xs-offset-8 {
    margin-left: 66.66667%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-push-9 {
    left: 75%; }
  .col-xs-pull-9 {
    right: 75%; }
  .col-xs-offset-9 {
    margin-left: 75%; }
  .col-xs-10 {
    width: 83.33333%; }
  .col-xs-push-10 {
    left: 83.33333%; }
  .col-xs-pull-10 {
    right: 83.33333%; }
  .col-xs-offset-10 {
    margin-left: 83.33333%; }
  .col-xs-11 {
    width: 91.66667%; }
  .col-xs-push-11 {
    left: 91.66667%; }
  .col-xs-pull-11 {
    right: 91.66667%; }
  .col-xs-offset-11 {
    margin-left: 91.66667%; }
  .col-xs-12 {
    width: 100%; }
  .col-xs-push-12 {
    left: 100%; }
  .col-xs-pull-12 {
    right: 100%; }
  .col-xs-offset-12 {
    margin-left: 100%; } }

@media screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 750px; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media screen and (max-width: 1280px) and (min-width: 993px) {
  .container {
    width: 970px; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1281px) {
  .container {
    width: 1170px; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.rwd-img {
  width: 100%;
  height: auto; }

@media screen and (max-width: 767px) {
  body {
    background-image: url("../img/p1.jpg");
    background-size: cover; }
  #logo {
    float: left;
    width: 10%; }
    #logo img {
      height: 90px; }
  #nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    z-index: 100; }
  .menu {
    font-size: 20px;
    float: left;
    text-align: right;
    width: 80%; }
    .menu .mainMenu {
      display: inline-block;
      margin: 0 15px; }
      .menu .mainMenu a:hover {
        border-bottom: 3px solid #4f9cdd;
        color: #f3f7f7; }
      .menu .mainMenu a {
        display: block;
        padding: 0 2px;
        line-height: 35px;
        vertical-align: middle;
        color: #9e9e9e;
        letter-spacing: 1px; }
  #signUp {
    display: inline-block;
    width: 5%;
    text-align: center; }
    #signUp a {
      color: #fff;
      font-size: 18px;
      padding: 0 10px;
      line-height: 70px; }
      #signUp a :hover {
        color: #9e9e9e; }
      #signUp a i {
        font-size: 16px; }
  #signIn {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    width: 5%; }
    #signIn a {
      display: block; }
    #signIn img {
      width: 100%;
      height: 100%; }
    #signIn a:hover img {
      border: 2px solid #4f9cdd;
      border-radius: 50%; }
  #navButtonHidden {
    position: absolute;
    right: -1000px; }
  #navButton {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 40px;
    height: 40px;
    background: #45484d;
    color: #f2f2f2;
    border-radius: 50%;
    display: none; }
  #logo {
    text-align: center; }
  #nav {
    margin: auto; }
  #navButton:after,
  #navButton:before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.8s; }
  #navButton:before {
    box-shadow: 0 -6px 0 #fff; }
  #navButton:after {
    box-shadow: 0 6px 0 #fff; }
  #navButtonHidden:checked ~ #navButton:before {
    transform: rotate(45deg);
    box-shadow: none; }
  #navButtonHidden:checked ~ #navButton:after {
    transform: rotate(-45deg);
    box-shadow: none; }
  #navButtonHidden:checked ~ .menu {
    animation: mobileNav 1s both cubic-bezier(0.13, 0.27, 0.06, 0.82); }
    #navButtonHidden:checked ~ .menu :after {
      animation: mobileNav2 1s both cubic-bezier(0.13, 0.27, 0.06, 0.82); }
  @keyframes mobileNav {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  @keyframes mobileNav2 {
    0% {
      left: -300px; }
    100% {
      left: -150px; } }
  .menu {
    position: absolute;
    left: 0;
    top: 75px;
    right: 0;
    margin: auto;
    text-align: center;
    height: 200px;
    display: none; }
    .menu :after {
      content: '';
      width: 300px;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      bottom: 0;
      left: -150px;
      right: 0;
      border-radius: 50%;
      z-index: -20;
      display: none; }
    .menu .mainMenu {
      display: block;
      text-align: left; }
      .menu .mainMenu a {
        color: #f3f7f7;
        font-size: 16px;
        padding: 3px 0; }
      .menu .mainMenu a:hover {
        border-bottom: none; }
  #navButton {
    display: block;
    z-index: 100; } }

@media screen and (max-width: 1280px) and (min-width: 993px) {
  body {
    background-image: url("../img/p1.jpg");
    background-size: cover; }
  #gap {
    width: 100%;
    height: 90px; }
  #logo {
    float: left;
    width: 10%; }
    #logo img {
      height: 90px; }
  #nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    z-index: 100; }
  .menu {
    font-size: 20px;
    float: left;
    text-align: right;
    width: 80%; }
    .menu .mainMenu {
      display: inline-block;
      margin: 0 15px; }
      .menu .mainMenu a:hover {
        border-bottom: 3px solid #4f9cdd;
        color: #f3f7f7; }
      .menu .mainMenu a {
        display: block;
        padding: 0 2px;
        line-height: 35px;
        vertical-align: middle;
        color: #9e9e9e;
        letter-spacing: 1px; }
  #signUp {
    display: inline-block;
    width: 5%;
    text-align: center; }
    #signUp a {
      color: #fff;
      font-size: 18px;
      padding: 0 10px;
      line-height: 70px; }
      #signUp a :hover {
        color: #9e9e9e; }
      #signUp a i {
        font-size: 16px; }
  #signIn {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    width: 5%;
    padding-top: 5px; }
    #signIn a {
      display: block; }
    #signIn img {
      width: 100%;
      height: 100%; }
    #signIn a:hover img {
      border: 2px solid #4f9cdd;
      border-radius: 50%; }
  #navButtonHidden {
    position: absolute;
    right: -1000px; }
  #navButton {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 40px;
    height: 40px;
    background: #45484d;
    color: #f2f2f2;
    border-radius: 50%;
    display: none; } }

@media screen and (min-width: 1281px) {
  body {
    background-image: url("../img/p1.jpg");
    background-size: cover; }
  #logo {
    float: left;
    width: 10%; }
    #logo img {
      height: 90px; }
  #nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
    width: 100%;
    z-index: 100; }
    #nav :after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      clear: both; }
  .menu {
    font-size: 20px;
    float: left;
    text-align: right;
    width: 80%; }
    .menu .mainMenu {
      display: inline-block;
      margin: 0 15px;
      height: 90px; }
      .menu .mainMenu a:hover {
        border-bottom: 3px solid #4f9cdd;
        color: #f3f7f7; }
      .menu .mainMenu a {
        display: block;
        padding: 0 2px;
        line-height: 90px;
        vertical-align: middle;
        color: #9e9e9e;
        letter-spacing: 1px; }
  #signUp {
    display: inline-block;
    float: left;
    width: 5%;
    text-align: center; }
    #signUp a {
      color: #fff;
      font-size: 18px;
      padding: 0 10px;
      line-height: 70px; }
      #signUp a :hover {
        color: #9e9e9e; }
      #signUp a i {
        font-size: 16px; }
  #signIn {
    display: inline-block;
    width: 5%;
    vertical-align: middle; }
    #signIn a {
      display: block; }
    #signIn img {
      width: 50px;
      height: 50px; }
    #signIn a:hover img {
      border: 2px solid #4f9cdd;
      border-radius: 50%; }
  #navButtonHidden {
    position: absolute;
    right: -1000px; }
  #navButton {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 40px;
    height: 40px;
    background: #45484d;
    color: #f2f2f2;
    border-radius: 50%;
    display: none; } }

footer {
  width: 100%;
  height: 50px;
  background-color: #3e3e43;
  color: #fff;
  text-align: right;
  padding-right: 40px;
  line-height: 50px;
  font-size: 14px; }
