
$black:#020202;

$o-black:rgba(0,0,0,0.6);

$white:#f3f7f7;

$o-white:rgba(255,255,255,0.3);

$purple:#aa89bd;

$light-blue:rgb(149,211,228);

$blue-green:#86d4f5;

$green-blue:#0ce3ec;

$blue:#4f9cdd;

$orange:#ff8600;

$grey:#3e3e43;

$light-grey:#9e9e9e;
