*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.hidden{
	visibility: hidden;
}
.relative{
	position: relative;
}

.btn{
	@include btn(65px,35px,5px);
}

.btn-lg{
	@include btn(125px,38px,5px);
}
.btn-blue{
	@include btn-color($blue,$white);
}
.btn-blue1{
	@include btn-color(transparent,$blue,$blue);
}
