//   grid
$rwd-xs-breakpoint:767px;
$rwd-sm-breakpoint:992px;
$rwd-md-breakpoint:1440px;
// container 寬度
$grid-xs-container:100%;
$grid-sm-container:750px;
$grid-md-container:970px;
$grid-lg-container:1170px;

$grid-container-padding:10px; //版面左右間距
$grid-col-padding:10px; // 左右欄位間距
$grid-column:12; //12 , 18 , 24
