@mixin btn($width,$height,$radius,$fz:16px){
	width:$width;
	height:$height;
	text-align:center;
	display:inline-block;
	border:1px solid transparent;
	border-radius: $radius;
	a{
		padding:0px 10px;
		display:block;
		text-decoration: none;
		line-height: $height;
		font-size: $fz;
		letter-spacing: 2px;
	}
}

@mixin btn-color($bgcolor,$fzcolor,$bdcolor:$bgcolor ){
	background-color: $bgcolor;
	border:1px solid $bdcolor;
	a{
		color:$fzcolor;
	}
}
